@import url("https://fonts.googleapis.com/css?family=Raleway");
@keyframes spin {
  from {
    transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg);
  }
  to {
    transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(360deg);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-10rem) translateY(20rem) translateZ(0);
  }
  to {
    transform: translateX(0) translateY(0) translateZ(0);
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

@media (max-width: 800px) {
  html {
    font-size: 16px;
  }
}

body {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #604c8d;
  background: -moz-linear-gradient(90deg, #f3f3f3 0%, #fff 100%);
  background: -webkit-linear-gradient(90deg, #f3f3f3 0%, #fff 100%);
  background: linear-gradient(90deg, #f3f3f3 0%, #fff 100%);
  font-family: 'Raleway', Arial, sans-serif;
  color: #0e0e0e;
  overflow-x: hidden;
  overflow-y: scroll;
}

h1, h2, h3, h4 {
  font-weight: 500;
  line-height: 1em;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p, a {
  font-size: 1rem;
}

p {
  margin: 0 0 1rem;
  line-height: 1.5em;
  font-weight: 500;
}

.cta {
  position: relative;
  display: table;
  outline: 2px solid #604c8d;
  outline-offset: -1px;
  background: transparent;
  color: #604c8d;
  margin: 1.5rem 0 0;
  text-decoration: none;
  transition: color 0.1s ease-out, background 0.1s ease-out, border-color 0.1s ease-out;
}

.cta p {
  text-transform: lowercase;
  font-weight: 900;
  margin: 0;
  line-height: 1em;
  color: #604c8d;
  padding: 0.65em 1em;
  white-space: nowrap;
}

.cta span {
  position: absolute;
  background: #604c8d;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: width 0.2s ease-out;
}

.cta span p {
  color: #FFF;
}

.cta:hover span {
  width: 100%;
}

header {
  padding: 6rem 0;
  height: 22rem;
  width: 100%;
  background: #493a6c;
}

header .scaler {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  width: calc(90% - 2rem);
  max-width: 1400px;
  margin: 0 auto;
  z-index: 1;
}

header h1, header h3 {
  transform: translateX(-100%) translateY(100%) translateZ(0);
  transform-origin: left bottom;
}

header h1 {
  font-size: 4rem;
  text-transform: uppercase;
  margin: 0;
  color: #FFF;
  text-shadow: 0px 0px #604c8d, -1px 1px #604c8d, -2px 2px #604c8d, -3px 3px #604c8d, -4px 4px #604c8d, -5px 5px #604c8d, -6px 6px #604c8d, -7px 7px #604c8d, -8px 8px #604c8d, -9px 9px #604c8d, -10px 10px #604c8d, -11px 11px #604c8d, -12px 12px #604c8d, -13px 13px #604c8d, -14px 14px #604c8d, -15px 15px #604c8d, -16px 16px #604c8d, -17px 17px #604c8d, -18px 18px #604c8d, -19px 19px #604c8d, -20px 20px #604c8d, -21px 21px #604c8d, -22px 22px #604c8d, -23px 23px #604c8d, -24px 24px #604c8d, -25px 25px #604c8d, -26px 26px #604c8d, -27px 27px #604c8d, -28px 28px #604c8d, -29px 29px #604c8d, -30px 30px #604c8d, -31px 31px #604c8d, -32px 32px #604c8d, -33px 33px #604c8d, -34px 34px #604c8d, -35px 35px #604c8d, -36px 36px #604c8d, -37px 37px #604c8d, -38px 38px #604c8d, -39px 39px #604c8d, -40px 40px #604c8d, -41px 41px #604c8d, -42px 42px #604c8d, -43px 43px #604c8d, -44px 44px #604c8d, -45px 45px #604c8d, -46px 46px #604c8d, -47px 47px #604c8d, -48px 48px #604c8d, -49px 49px #604c8d, -50px 50px #604c8d, -51px 51px #604c8d, -52px 52px #604c8d, -53px 53px #604c8d, -54px 54px #604c8d, -55px 55px #604c8d, -56px 56px #604c8d, -57px 57px #604c8d, -58px 58px #604c8d, -59px 59px #604c8d, -60px 60px #604c8d, -61px 61px #604c8d, -62px 62px #604c8d, -63px 63px #604c8d, -64px 64px #604c8d, -65px 65px #604c8d, -66px 66px #604c8d, -67px 67px #604c8d, -68px 68px #604c8d, -69px 69px #604c8d, -70px 70px #604c8d, -71px 71px #604c8d, -72px 72px #604c8d, -73px 73px #604c8d, -74px 74px #604c8d, -75px 75px #604c8d, -76px 76px #604c8d, -77px 77px #604c8d, -78px 78px #604c8d, -79px 79px #604c8d, -80px 80px #604c8d, -81px 81px #604c8d, -82px 82px #604c8d, -83px 83px #604c8d, -84px 84px #604c8d, -85px 85px #604c8d, -86px 86px #604c8d, -87px 87px #604c8d, -88px 88px #604c8d, -89px 89px #604c8d, -90px 90px #604c8d, -91px 91px #604c8d, -92px 92px #604c8d, -93px 93px #604c8d, -94px 94px #604c8d, -95px 95px #604c8d, -96px 96px #604c8d, -97px 97px #604c8d, -98px 98px #604c8d, -99px 99px #604c8d, -100px 100px #604c8d, -101px 101px #604c8d, -102px 102px #604c8d, -103px 103px #604c8d, -104px 104px #604c8d, -105px 105px #604c8d, -106px 106px #604c8d, -107px 107px #604c8d, -108px 108px #604c8d, -109px 109px #604c8d, -110px 110px #604c8d, -111px 111px #604c8d, -112px 112px #604c8d, -113px 113px #604c8d, -114px 114px #604c8d, -115px 115px #604c8d, -116px 116px #604c8d, -117px 117px #604c8d, -118px 118px #604c8d, -119px 119px #604c8d, -120px 120px #604c8d, -121px 121px #604c8d, -122px 122px #604c8d, -123px 123px #604c8d, -124px 124px #604c8d, -125px 125px #604c8d, -126px 126px #604c8d, -127px 127px #604c8d, -128px 128px #604c8d, -129px 129px #604c8d, -130px 130px #604c8d, -131px 131px #604c8d, -132px 132px #604c8d, -133px 133px #604c8d, -134px 134px #604c8d, -135px 135px #604c8d, -136px 136px #604c8d, -137px 137px #604c8d, -138px 138px #604c8d, -139px 139px #604c8d, -140px 140px #604c8d, -141px 141px #604c8d, -142px 142px #604c8d, -143px 143px #604c8d, -144px 144px #604c8d, -145px 145px #604c8d, -146px 146px #604c8d, -147px 147px #604c8d, -148px 148px #604c8d, -149px 149px #604c8d, -150px 150px #604c8d, -151px 151px #604c8d, -152px 152px #604c8d, -153px 153px #604c8d, -154px 154px #604c8d, -155px 155px #604c8d, -156px 156px #604c8d, -157px 157px #604c8d, -158px 158px #604c8d, -159px 159px #604c8d, -160px 160px #604c8d, -161px 161px #604c8d, -162px 162px #604c8d, -163px 163px #604c8d, -164px 164px #604c8d, -165px 165px #604c8d, -166px 166px #604c8d, -167px 167px #604c8d, -168px 168px #604c8d, -169px 169px #604c8d, -170px 170px #604c8d, -171px 171px #604c8d, -172px 172px #604c8d, -173px 173px #604c8d, -174px 174px #604c8d, -175px 175px #604c8d, -176px 176px #604c8d, -177px 177px #604c8d, -178px 178px #604c8d, -179px 179px #604c8d, -180px 180px #604c8d, -181px 181px #604c8d, -182px 182px #604c8d, -183px 183px #604c8d, -184px 184px #604c8d, -185px 185px #604c8d, -186px 186px #604c8d, -187px 187px #604c8d, -188px 188px #604c8d, -189px 189px #604c8d, -190px 190px #604c8d, -191px 191px #604c8d, -192px 192px #604c8d, -193px 193px #604c8d, -194px 194px #604c8d, -195px 195px #604c8d, -196px 196px #604c8d, -197px 197px #604c8d, -198px 198px #604c8d, -199px 199px #604c8d, -200px 200px #604c8d, -201px 201px #604c8d, -202px 202px #604c8d, -203px 203px #604c8d, -204px 204px #604c8d, -205px 205px #604c8d, -206px 206px #604c8d, -207px 207px #604c8d, -208px 208px #604c8d, -209px 209px #604c8d, -210px 210px #604c8d, -211px 211px #604c8d, -212px 212px #604c8d, -213px 213px #604c8d, -214px 214px #604c8d, -215px 215px #604c8d, -216px 216px #604c8d, -217px 217px #604c8d, -218px 218px #604c8d, -219px 219px #604c8d, -220px 220px #604c8d, -221px 221px #604c8d, -222px 222px #604c8d, -223px 223px #604c8d, -224px 224px #604c8d, -225px 225px #604c8d, -226px 226px #604c8d, -227px 227px #604c8d, -228px 228px #604c8d, -229px 229px #604c8d, -230px 230px #604c8d, -231px 231px #604c8d, -232px 232px #604c8d, -233px 233px #604c8d, -234px 234px #604c8d, -235px 235px #604c8d, -236px 236px #604c8d, -237px 237px #604c8d, -238px 238px #604c8d, -239px 239px #604c8d, -240px 240px #604c8d, -241px 241px #604c8d, -242px 242px #604c8d, -243px 243px #604c8d, -244px 244px #604c8d, -245px 245px #604c8d, -246px 246px #604c8d, -247px 247px #604c8d, -248px 248px #604c8d, -249px 249px #604c8d, -250px 250px #604c8d, -251px 251px #604c8d, -252px 252px #604c8d, -253px 253px #604c8d, -254px 254px #604c8d, -255px 255px #604c8d, -256px 256px #604c8d, -257px 257px #604c8d, -258px 258px #604c8d, -259px 259px #604c8d, -260px 260px #604c8d, -261px 261px #604c8d, -262px 262px #604c8d, -263px 263px #604c8d, -264px 264px #604c8d, -265px 265px #604c8d, -266px 266px #604c8d, -267px 267px #604c8d, -268px 268px #604c8d, -269px 269px #604c8d, -270px 270px #604c8d, -271px 271px #604c8d, -272px 272px #604c8d, -273px 273px #604c8d, -274px 274px #604c8d, -275px 275px #604c8d, -276px 276px #604c8d, -277px 277px #604c8d, -278px 278px #604c8d, -279px 279px #604c8d, -280px 280px #604c8d, -281px 281px #604c8d, -282px 282px #604c8d, -283px 283px #604c8d, -284px 284px #604c8d, -285px 285px #604c8d, -286px 286px #604c8d, -287px 287px #604c8d, -288px 288px #604c8d, -289px 289px #604c8d, -290px 290px #604c8d, -291px 291px #604c8d, -292px 292px #604c8d, -293px 293px #604c8d, -294px 294px #604c8d, -295px 295px #604c8d, -296px 296px #604c8d, -297px 297px #604c8d, -298px 298px #604c8d, -299px 299px #604c8d, -300px 300px #604c8d, -301px 301px #604c8d, -302px 302px #604c8d, -303px 303px #604c8d, -304px 304px #604c8d, -305px 305px #604c8d, -306px 306px #604c8d, -307px 307px #604c8d, -308px 308px #604c8d, -309px 309px #604c8d, -310px 310px #604c8d, -311px 311px #604c8d, -312px 312px #604c8d, -313px 313px #604c8d, -314px 314px #604c8d, -315px 315px #604c8d, -316px 316px #604c8d, -317px 317px #604c8d, -318px 318px #604c8d, -319px 319px #604c8d, -320px 320px #604c8d, -321px 321px #604c8d, -322px 322px #604c8d, -323px 323px #604c8d, -324px 324px #604c8d, -325px 325px #604c8d, -326px 326px #604c8d, -327px 327px #604c8d, -328px 328px #604c8d, -329px 329px #604c8d, -330px 330px #604c8d, -331px 331px #604c8d, -332px 332px #604c8d, -333px 333px #604c8d, -334px 334px #604c8d, -335px 335px #604c8d, -336px 336px #604c8d, -337px 337px #604c8d, -338px 338px #604c8d, -339px 339px #604c8d, -340px 340px #604c8d, -341px 341px #604c8d, -342px 342px #604c8d, -343px 343px #604c8d, -344px 344px #604c8d, -345px 345px #604c8d, -346px 346px #604c8d, -347px 347px #604c8d, -348px 348px #604c8d, -349px 349px #604c8d, -350px 350px #604c8d, -351px 351px #604c8d, -352px 352px #604c8d, -353px 353px #604c8d, -354px 354px #604c8d, -355px 355px #604c8d, -356px 356px #604c8d, -357px 357px #604c8d, -358px 358px #604c8d, -359px 359px #604c8d, -360px 360px #604c8d, -361px 361px #604c8d, -362px 362px #604c8d, -363px 363px #604c8d, -364px 364px #604c8d, -365px 365px #604c8d, -366px 366px #604c8d, -367px 367px #604c8d, -368px 368px #604c8d, -369px 369px #604c8d, -370px 370px #604c8d, -371px 371px #604c8d, -372px 372px #604c8d, -373px 373px #604c8d, -374px 374px #604c8d, -375px 375px #604c8d, -376px 376px #604c8d, -377px 377px #604c8d, -378px 378px #604c8d, -379px 379px #604c8d, -380px 380px #604c8d, -381px 381px #604c8d, -382px 382px #604c8d, -383px 383px #604c8d, -384px 384px #604c8d, -385px 385px #604c8d, -386px 386px #604c8d, -387px 387px #604c8d, -388px 388px #604c8d, -389px 389px #604c8d, -390px 390px #604c8d, -391px 391px #604c8d, -392px 392px #604c8d, -393px 393px #604c8d, -394px 394px #604c8d, -395px 395px #604c8d, -396px 396px #604c8d, -397px 397px #604c8d, -398px 398px #604c8d, -399px 399px #604c8d, -400px 400px #604c8d, -401px 401px #604c8d, -402px 402px #604c8d, -403px 403px #604c8d, -404px 404px #604c8d, -405px 405px #604c8d, -406px 406px #604c8d, -407px 407px #604c8d, -408px 408px #604c8d, -409px 409px #604c8d, -410px 410px #604c8d, -411px 411px #604c8d, -412px 412px #604c8d, -413px 413px #604c8d, -414px 414px #604c8d, -415px 415px #604c8d, -416px 416px #604c8d, -417px 417px #604c8d, -418px 418px #604c8d, -419px 419px #604c8d, -420px 420px #604c8d, -421px 421px #604c8d, -422px 422px #604c8d, -423px 423px #604c8d, -424px 424px #604c8d, -425px 425px #604c8d, -426px 426px #604c8d, -427px 427px #604c8d, -428px 428px #604c8d, -429px 429px #604c8d, -430px 430px #604c8d, -431px 431px #604c8d, -432px 432px #604c8d, -433px 433px #604c8d, -434px 434px #604c8d, -435px 435px #604c8d, -436px 436px #604c8d, -437px 437px #604c8d, -438px 438px #604c8d, -439px 439px #604c8d, -440px 440px #604c8d, -441px 441px #604c8d, -442px 442px #604c8d, -443px 443px #604c8d, -444px 444px #604c8d, -445px 445px #604c8d, -446px 446px #604c8d, -447px 447px #604c8d, -448px 448px #604c8d, -449px 449px #604c8d, -450px 450px #604c8d, -451px 451px #604c8d, -452px 452px #604c8d, -453px 453px #604c8d, -454px 454px #604c8d, -455px 455px #604c8d, -456px 456px #604c8d, -457px 457px #604c8d, -458px 458px #604c8d, -459px 459px #604c8d, -460px 460px #604c8d, -461px 461px #604c8d, -462px 462px #604c8d, -463px 463px #604c8d, -464px 464px #604c8d, -465px 465px #604c8d, -466px 466px #604c8d, -467px 467px #604c8d, -468px 468px #604c8d, -469px 469px #604c8d, -470px 470px #604c8d, -471px 471px #604c8d, -472px 472px #604c8d, -473px 473px #604c8d, -474px 474px #604c8d, -475px 475px #604c8d, -476px 476px #604c8d, -477px 477px #604c8d, -478px 478px #604c8d, -479px 479px #604c8d, -480px 480px #604c8d, -481px 481px #604c8d, -482px 482px #604c8d, -483px 483px #604c8d, -484px 484px #604c8d, -485px 485px #604c8d, -486px 486px #604c8d, -487px 487px #604c8d, -488px 488px #604c8d, -489px 489px #604c8d, -490px 490px #604c8d, -491px 491px #604c8d, -492px 492px #604c8d, -493px 493px #604c8d, -494px 494px #604c8d, -495px 495px #604c8d, -496px 496px #604c8d, -497px 497px #604c8d, -498px 498px #604c8d, -499px 499px #604c8d, -500px 500px #604c8d;
  animation: slideIn 0.4s ease-out forwards;
}

header h3 {
  color: #FFF;
  margin: 0;
  text-shadow: 0px 0px #604c8d, -1px 1px #604c8d, -2px 2px #604c8d, -3px 3px #604c8d, -4px 4px #604c8d, -5px 5px #604c8d, -6px 6px #604c8d, -7px 7px #604c8d, -8px 8px #604c8d, -9px 9px #604c8d, -10px 10px #604c8d, -11px 11px #604c8d, -12px 12px #604c8d, -13px 13px #604c8d, -14px 14px #604c8d, -15px 15px #604c8d, -16px 16px #604c8d, -17px 17px #604c8d, -18px 18px #604c8d, -19px 19px #604c8d, -20px 20px #604c8d, -21px 21px #604c8d, -22px 22px #604c8d, -23px 23px #604c8d, -24px 24px #604c8d, -25px 25px #604c8d, -26px 26px #604c8d, -27px 27px #604c8d, -28px 28px #604c8d, -29px 29px #604c8d, -30px 30px #604c8d, -31px 31px #604c8d, -32px 32px #604c8d, -33px 33px #604c8d, -34px 34px #604c8d, -35px 35px #604c8d, -36px 36px #604c8d, -37px 37px #604c8d, -38px 38px #604c8d, -39px 39px #604c8d, -40px 40px #604c8d, -41px 41px #604c8d, -42px 42px #604c8d, -43px 43px #604c8d, -44px 44px #604c8d, -45px 45px #604c8d, -46px 46px #604c8d, -47px 47px #604c8d, -48px 48px #604c8d, -49px 49px #604c8d, -50px 50px #604c8d, -51px 51px #604c8d, -52px 52px #604c8d, -53px 53px #604c8d, -54px 54px #604c8d, -55px 55px #604c8d, -56px 56px #604c8d, -57px 57px #604c8d, -58px 58px #604c8d, -59px 59px #604c8d, -60px 60px #604c8d, -61px 61px #604c8d, -62px 62px #604c8d, -63px 63px #604c8d, -64px 64px #604c8d, -65px 65px #604c8d, -66px 66px #604c8d, -67px 67px #604c8d, -68px 68px #604c8d, -69px 69px #604c8d, -70px 70px #604c8d, -71px 71px #604c8d, -72px 72px #604c8d, -73px 73px #604c8d, -74px 74px #604c8d, -75px 75px #604c8d, -76px 76px #604c8d, -77px 77px #604c8d, -78px 78px #604c8d, -79px 79px #604c8d, -80px 80px #604c8d, -81px 81px #604c8d, -82px 82px #604c8d, -83px 83px #604c8d, -84px 84px #604c8d, -85px 85px #604c8d, -86px 86px #604c8d, -87px 87px #604c8d, -88px 88px #604c8d, -89px 89px #604c8d, -90px 90px #604c8d, -91px 91px #604c8d, -92px 92px #604c8d, -93px 93px #604c8d, -94px 94px #604c8d, -95px 95px #604c8d, -96px 96px #604c8d, -97px 97px #604c8d, -98px 98px #604c8d, -99px 99px #604c8d, -100px 100px #604c8d, -101px 101px #604c8d, -102px 102px #604c8d, -103px 103px #604c8d, -104px 104px #604c8d, -105px 105px #604c8d, -106px 106px #604c8d, -107px 107px #604c8d, -108px 108px #604c8d, -109px 109px #604c8d, -110px 110px #604c8d, -111px 111px #604c8d, -112px 112px #604c8d, -113px 113px #604c8d, -114px 114px #604c8d, -115px 115px #604c8d, -116px 116px #604c8d, -117px 117px #604c8d, -118px 118px #604c8d, -119px 119px #604c8d, -120px 120px #604c8d, -121px 121px #604c8d, -122px 122px #604c8d, -123px 123px #604c8d, -124px 124px #604c8d, -125px 125px #604c8d, -126px 126px #604c8d, -127px 127px #604c8d, -128px 128px #604c8d, -129px 129px #604c8d, -130px 130px #604c8d, -131px 131px #604c8d, -132px 132px #604c8d, -133px 133px #604c8d, -134px 134px #604c8d, -135px 135px #604c8d, -136px 136px #604c8d, -137px 137px #604c8d, -138px 138px #604c8d, -139px 139px #604c8d, -140px 140px #604c8d, -141px 141px #604c8d, -142px 142px #604c8d, -143px 143px #604c8d, -144px 144px #604c8d, -145px 145px #604c8d, -146px 146px #604c8d, -147px 147px #604c8d, -148px 148px #604c8d, -149px 149px #604c8d, -150px 150px #604c8d, -151px 151px #604c8d, -152px 152px #604c8d, -153px 153px #604c8d, -154px 154px #604c8d, -155px 155px #604c8d, -156px 156px #604c8d, -157px 157px #604c8d, -158px 158px #604c8d, -159px 159px #604c8d, -160px 160px #604c8d, -161px 161px #604c8d, -162px 162px #604c8d, -163px 163px #604c8d, -164px 164px #604c8d, -165px 165px #604c8d, -166px 166px #604c8d, -167px 167px #604c8d, -168px 168px #604c8d, -169px 169px #604c8d, -170px 170px #604c8d, -171px 171px #604c8d, -172px 172px #604c8d, -173px 173px #604c8d, -174px 174px #604c8d, -175px 175px #604c8d, -176px 176px #604c8d, -177px 177px #604c8d, -178px 178px #604c8d, -179px 179px #604c8d, -180px 180px #604c8d, -181px 181px #604c8d, -182px 182px #604c8d, -183px 183px #604c8d, -184px 184px #604c8d, -185px 185px #604c8d, -186px 186px #604c8d, -187px 187px #604c8d, -188px 188px #604c8d, -189px 189px #604c8d, -190px 190px #604c8d, -191px 191px #604c8d, -192px 192px #604c8d, -193px 193px #604c8d, -194px 194px #604c8d, -195px 195px #604c8d, -196px 196px #604c8d, -197px 197px #604c8d, -198px 198px #604c8d, -199px 199px #604c8d, -200px 200px #604c8d, -201px 201px #604c8d, -202px 202px #604c8d, -203px 203px #604c8d, -204px 204px #604c8d, -205px 205px #604c8d, -206px 206px #604c8d, -207px 207px #604c8d, -208px 208px #604c8d, -209px 209px #604c8d, -210px 210px #604c8d, -211px 211px #604c8d, -212px 212px #604c8d, -213px 213px #604c8d, -214px 214px #604c8d, -215px 215px #604c8d, -216px 216px #604c8d, -217px 217px #604c8d, -218px 218px #604c8d, -219px 219px #604c8d, -220px 220px #604c8d, -221px 221px #604c8d, -222px 222px #604c8d, -223px 223px #604c8d, -224px 224px #604c8d, -225px 225px #604c8d, -226px 226px #604c8d, -227px 227px #604c8d, -228px 228px #604c8d, -229px 229px #604c8d, -230px 230px #604c8d, -231px 231px #604c8d, -232px 232px #604c8d, -233px 233px #604c8d, -234px 234px #604c8d, -235px 235px #604c8d, -236px 236px #604c8d, -237px 237px #604c8d, -238px 238px #604c8d, -239px 239px #604c8d, -240px 240px #604c8d, -241px 241px #604c8d, -242px 242px #604c8d, -243px 243px #604c8d, -244px 244px #604c8d, -245px 245px #604c8d, -246px 246px #604c8d, -247px 247px #604c8d, -248px 248px #604c8d, -249px 249px #604c8d, -250px 250px #604c8d, -251px 251px #604c8d, -252px 252px #604c8d, -253px 253px #604c8d, -254px 254px #604c8d, -255px 255px #604c8d, -256px 256px #604c8d, -257px 257px #604c8d, -258px 258px #604c8d, -259px 259px #604c8d, -260px 260px #604c8d, -261px 261px #604c8d, -262px 262px #604c8d, -263px 263px #604c8d, -264px 264px #604c8d, -265px 265px #604c8d, -266px 266px #604c8d, -267px 267px #604c8d, -268px 268px #604c8d, -269px 269px #604c8d, -270px 270px #604c8d, -271px 271px #604c8d, -272px 272px #604c8d, -273px 273px #604c8d, -274px 274px #604c8d, -275px 275px #604c8d, -276px 276px #604c8d, -277px 277px #604c8d, -278px 278px #604c8d, -279px 279px #604c8d, -280px 280px #604c8d, -281px 281px #604c8d, -282px 282px #604c8d, -283px 283px #604c8d, -284px 284px #604c8d, -285px 285px #604c8d, -286px 286px #604c8d, -287px 287px #604c8d, -288px 288px #604c8d, -289px 289px #604c8d, -290px 290px #604c8d, -291px 291px #604c8d, -292px 292px #604c8d, -293px 293px #604c8d, -294px 294px #604c8d, -295px 295px #604c8d, -296px 296px #604c8d, -297px 297px #604c8d, -298px 298px #604c8d, -299px 299px #604c8d, -300px 300px #604c8d, -301px 301px #604c8d, -302px 302px #604c8d, -303px 303px #604c8d, -304px 304px #604c8d, -305px 305px #604c8d, -306px 306px #604c8d, -307px 307px #604c8d, -308px 308px #604c8d, -309px 309px #604c8d, -310px 310px #604c8d, -311px 311px #604c8d, -312px 312px #604c8d, -313px 313px #604c8d, -314px 314px #604c8d, -315px 315px #604c8d, -316px 316px #604c8d, -317px 317px #604c8d, -318px 318px #604c8d, -319px 319px #604c8d, -320px 320px #604c8d, -321px 321px #604c8d, -322px 322px #604c8d, -323px 323px #604c8d, -324px 324px #604c8d, -325px 325px #604c8d, -326px 326px #604c8d, -327px 327px #604c8d, -328px 328px #604c8d, -329px 329px #604c8d, -330px 330px #604c8d, -331px 331px #604c8d, -332px 332px #604c8d, -333px 333px #604c8d, -334px 334px #604c8d, -335px 335px #604c8d, -336px 336px #604c8d, -337px 337px #604c8d, -338px 338px #604c8d, -339px 339px #604c8d, -340px 340px #604c8d, -341px 341px #604c8d, -342px 342px #604c8d, -343px 343px #604c8d, -344px 344px #604c8d, -345px 345px #604c8d, -346px 346px #604c8d, -347px 347px #604c8d, -348px 348px #604c8d, -349px 349px #604c8d, -350px 350px #604c8d, -351px 351px #604c8d, -352px 352px #604c8d, -353px 353px #604c8d, -354px 354px #604c8d, -355px 355px #604c8d, -356px 356px #604c8d, -357px 357px #604c8d, -358px 358px #604c8d, -359px 359px #604c8d, -360px 360px #604c8d, -361px 361px #604c8d, -362px 362px #604c8d, -363px 363px #604c8d, -364px 364px #604c8d, -365px 365px #604c8d, -366px 366px #604c8d, -367px 367px #604c8d, -368px 368px #604c8d, -369px 369px #604c8d, -370px 370px #604c8d, -371px 371px #604c8d, -372px 372px #604c8d, -373px 373px #604c8d, -374px 374px #604c8d, -375px 375px #604c8d, -376px 376px #604c8d, -377px 377px #604c8d, -378px 378px #604c8d, -379px 379px #604c8d, -380px 380px #604c8d, -381px 381px #604c8d, -382px 382px #604c8d, -383px 383px #604c8d, -384px 384px #604c8d, -385px 385px #604c8d, -386px 386px #604c8d, -387px 387px #604c8d, -388px 388px #604c8d, -389px 389px #604c8d, -390px 390px #604c8d, -391px 391px #604c8d, -392px 392px #604c8d, -393px 393px #604c8d, -394px 394px #604c8d, -395px 395px #604c8d, -396px 396px #604c8d, -397px 397px #604c8d, -398px 398px #604c8d, -399px 399px #604c8d, -400px 400px #604c8d, -401px 401px #604c8d, -402px 402px #604c8d, -403px 403px #604c8d, -404px 404px #604c8d, -405px 405px #604c8d, -406px 406px #604c8d, -407px 407px #604c8d, -408px 408px #604c8d, -409px 409px #604c8d, -410px 410px #604c8d, -411px 411px #604c8d, -412px 412px #604c8d, -413px 413px #604c8d, -414px 414px #604c8d, -415px 415px #604c8d, -416px 416px #604c8d, -417px 417px #604c8d, -418px 418px #604c8d, -419px 419px #604c8d, -420px 420px #604c8d, -421px 421px #604c8d, -422px 422px #604c8d, -423px 423px #604c8d, -424px 424px #604c8d, -425px 425px #604c8d, -426px 426px #604c8d, -427px 427px #604c8d, -428px 428px #604c8d, -429px 429px #604c8d, -430px 430px #604c8d, -431px 431px #604c8d, -432px 432px #604c8d, -433px 433px #604c8d, -434px 434px #604c8d, -435px 435px #604c8d, -436px 436px #604c8d, -437px 437px #604c8d, -438px 438px #604c8d, -439px 439px #604c8d, -440px 440px #604c8d, -441px 441px #604c8d, -442px 442px #604c8d, -443px 443px #604c8d, -444px 444px #604c8d, -445px 445px #604c8d, -446px 446px #604c8d, -447px 447px #604c8d, -448px 448px #604c8d, -449px 449px #604c8d, -450px 450px #604c8d, -451px 451px #604c8d, -452px 452px #604c8d, -453px 453px #604c8d, -454px 454px #604c8d, -455px 455px #604c8d, -456px 456px #604c8d, -457px 457px #604c8d, -458px 458px #604c8d, -459px 459px #604c8d, -460px 460px #604c8d, -461px 461px #604c8d, -462px 462px #604c8d, -463px 463px #604c8d, -464px 464px #604c8d, -465px 465px #604c8d, -466px 466px #604c8d, -467px 467px #604c8d, -468px 468px #604c8d, -469px 469px #604c8d, -470px 470px #604c8d, -471px 471px #604c8d, -472px 472px #604c8d, -473px 473px #604c8d, -474px 474px #604c8d, -475px 475px #604c8d, -476px 476px #604c8d, -477px 477px #604c8d, -478px 478px #604c8d, -479px 479px #604c8d, -480px 480px #604c8d, -481px 481px #604c8d, -482px 482px #604c8d, -483px 483px #604c8d, -484px 484px #604c8d, -485px 485px #604c8d, -486px 486px #604c8d, -487px 487px #604c8d, -488px 488px #604c8d, -489px 489px #604c8d, -490px 490px #604c8d, -491px 491px #604c8d, -492px 492px #604c8d, -493px 493px #604c8d, -494px 494px #604c8d, -495px 495px #604c8d, -496px 496px #604c8d, -497px 497px #604c8d, -498px 498px #604c8d, -499px 499px #604c8d, -500px 500px #604c8d;
  animation: slideIn 0.4s 0.1s ease-out forwards;
}

#wrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-top: 4px solid #604c8d;
  background: #604c8d;
  background: -moz-linear-gradient(90deg, #f3f3f3 0%, #fff 100%);
  background: -webkit-linear-gradient(90deg, #f3f3f3 0%, #fff 100%);
  background: linear-gradient(90deg, #f3f3f3 0%, #fff 100%);
}

#projects {
  position: relative;
  z-index: 1;
}

.project {
  position: relative;
  width: calc(90% - 2rem);
  max-width: 1400px;
  margin: 10rem auto 20rem;
  font-size: 0;
  display: table;
}

.project:last-of-type {
  margin-bottom: 0;
  padding-bottom: 12rem;
}

@media (max-width: 1100px) {
  .project {
    margin: 20vh auto 20vh;
  }
}

@media (max-width: 800px) {
  .project {
    margin: 5rem auto 10rem;
  }
}

.project .circle {
  display: none;
  position: absolute;
  top: 50%;
  width: 65%;
  padding-bottom: 65%;
  border-radius: 100%;
  background: rgba(96, 76, 141, 0.1);
  z-index: 0;
  backface-visibility: hidden;
  perspective: 1000;
  transform-origin: 50% 49%;
  transform: translateX(-50%) translateY(-50%) translateZ(0);
  animation: spin 3s linear infinite;
}

.project:nth-child(odd) .circle {
  left: 110%;
}

.project:nth-child(even) .circle {
  left: 0%;
}

.project:nth-child(3n+1) .circle {
  display: block;
}

.project h3 {
  margin: 0;
  color: #604c8d;
}

.project h3:after {
  content: '';
  position: relative;
  display: block;
  width: 40px;
  height: 4px;
  background: #604c8d;
  margin: 1rem 0;
}

.project .textWrap, .project .imageWrap {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}

@media (min-width: 800px) {
  .project .textWrap .desktop:hover .work, .project .textWrap .mobile:hover .work, .project .imageWrap .desktop:hover .work, .project .imageWrap .mobile:hover .work {
    border-color: #604c8d;
  }
}

.project .textWrap {
  width: 40%;
  max-width: 450px;
  padding-right: 4rem;
}

@media (max-width: 800px) {
  .project .textWrap {
    width: 90%;
    max-width: 500px;
    display: block;
    margin: 0 auto;
    padding-right: 0;
  }
}

.project .textWrap .count {
  font-size: 1rem;
  font-weight: 900;
  position: absolute;
  color: #604c8d;
  left: -1.5rem;
  top: 0;
}

@media (max-width: 800px) {
  .project .textWrap .count {
    left: 0;
    position: relative;
  }
}

.project .imageWrap {
  width: calc(100% - 450px);
  position: relative;
  padding: 0 5%;
}

.project .imageWrap img {
  position: relative;
  z-index: 1;
}

@media (max-width: 1125px) {
  .project .imageWrap {
    width: 60%;
  }
}

@media (max-width: 800px) {
  .project .imageWrap {
    width: 95%;
    left: -2.5%;
    display: block;
    margin: 4rem auto 0;
  }
}

.project .imageWrap .work {
  max-width: 100%;
  border: 2px solid #111;
  height: auto;
  display: block;
  cursor: pointer;
  margin: 0 auto;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  transition: border-color 0.1s ease-out;
}

.project .imageWrap .desktop, .project .imageWrap .mobile {
  backface-visibility: hidden;
  perspective: 1000;
  transition: all 0.2s ease-out;
}

.project .imageWrap .device {
  position: absolute;
}

.project .imageWrap .shine {
  position: absolute;
  overflow: hidden;
  z-index: 2;
  pointer-events: none;
}

.project .imageWrap .shine:after {
  content: '';
  position: absolute;
  display: block;
  z-index: 0;
  top: 0;
  left: 0;
  background: #FFF;
  width: 75%;
  padding-bottom: 75%;
  left: unset;
  transform-origin: top right;
  transform: rotate(45deg);
  z-index: 3;
  transition: all 0.2s ease-out;
}

.project .imageWrap .desktop {
  transform: scale(1);
}

.project .imageWrap .desktop .shine {
  width: 107.5%;
  height: 123%;
  top: -7.5%;
  left: -3.5%;
  border-radius: 30px 30px 0 0;
}

.project .imageWrap .desktop .shine:after {
  top: -5%;
  right: -55%;
  opacity: 0.1;
}

@media (max-width: 1100px) {
  .project .imageWrap .desktop .shine {
    border-radius: 20px 20px 0 0;
  }
}

@media (max-width: 800px) {
  .project .imageWrap .desktop .shine {
    border-radius: 10px 10px 0 0;
  }
}

.project .imageWrap .desktop .device {
  background: #111;
  width: 107.5%;
  height: 115%;
  top: -7.5%;
  left: -3.5%;
  border-radius: 30px 30px 0 0;
}

@media (max-width: 1100px) {
  .project .imageWrap .desktop .device {
    border-radius: 20px 20px 0 0;
  }
}

@media (max-width: 800px) {
  .project .imageWrap .desktop .device {
    border-radius: 10px 10px 0 0;
  }
}

.project .imageWrap .desktop .device .base {
  position: absolute;
  bottom: 0;
  transform: translateY(80%);
  width: 115%;
  left: -7.5%;
  padding-bottom: 2.5%;
  border-radius: 0px 0px 5px 5px;
  background: #d1d6db;
  z-index: 2;
}

@media (max-width: 800px) {
  .project .imageWrap .desktop .device .base {
    padding-bottom: 4%;
  }
}

.project .imageWrap .desktop .device .base:after {
  content: '';
  position: absolute;
  display: block;
  z-index: 0;
  top: 0;
  left: 0;
  top: unset;
  bottom: 1px;
  width: calc(100% - 100px);
  border-top: 20px solid #80858a;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-radius: 5px;
  height: 0;
  transform: translateY(100%);
}

@media (max-width: 1100px) {
  .project .imageWrap .desktop .device .base:after {
    border-top: 12px solid #80858a;
  }
}

@media (max-width: 800px) {
  .project .imageWrap .desktop .device .base:after {
    border-top: 6px solid #80858a;
  }
}

.project .imageWrap .desktop.in {
  transform: scale(1.1);
}

.project .imageWrap .desktop.out {
  transform: scale(0.9);
}

.project .imageWrap .desktop.out ~ .mobile {
  width: 375px;
  max-width: 35%;
  bottom: -2rem;
}

.project .imageWrap .mobile {
  position: absolute;
  right: -5%;
  bottom: -1rem;
  width: 285px;
  max-width: 25%;
  transform-origin: 50% 20%;
}

.project .imageWrap .mobile .shine {
  width: 105%;
  height: 120%;
  left: -2.5%;
  top: -10%;
  border-radius: 30px;
}

.project .imageWrap .mobile .shine:after {
  top: -15%;
  right: -85%;
  width: 150%;
  padding-bottom: 130%;
  opacity: 0.05;
}

@media (max-width: 1100px) {
  .project .imageWrap .mobile .shine {
    border-radius: 20px;
  }
}

@media (max-width: 800px) {
  .project .imageWrap .mobile .shine {
    border-radius: 10px;
  }
}

.project .imageWrap .mobile .device {
  width: 105%;
  height: 120%;
  left: -2.5%;
  background: #222;
  top: -10%;
  border-radius: 30px;
}

@media (max-width: 1100px) {
  .project .imageWrap .mobile .device {
    border-radius: 20px;
  }
}

@media (max-width: 800px) {
  .project .imageWrap .mobile .device {
    border-radius: 10px;
  }
}

.project .imageWrap .mobile.out {
  transform: translateX(110%) scale(0.8);
}

@media (min-width: 800px) {
  .project:nth-of-type(even) {
    direction: rtl;
  }
  .project:nth-of-type(even) .textWrap {
    direction: ltr;
    padding-right: 0;
    padding-left: 4rem;
  }
  .project:nth-of-type(even) .textWrap .count {
    left: 2rem;
  }
  .project:nth-of-type(even) .imageWrap .mobile {
    right: unset;
    left: -5%;
  }
  .project:nth-of-type(even) .imageWrap .mobile.out {
    transform: translateX(-110%) scale(0.8);
  }
}

#btt {
  margin-top: 4rem;
  display: table;
  float: right;
  margin-right: 1.5rem;
  color: #604c8d;
  text-decoration: none;
  font-weight: 900;
}

#btt span {
  position: relative;
  display: inline-block;
  transition: all 0.2s ease-out;
}

#btt:hover span {
  transform: translateY(-20%);
}

footer {
  width: 100%;
  text-align: center;
  margin: 1rem 0 0;
  padding-bottom: 1rem;
  border-bottom: 4px solid #604c8d;
  float: left;
}

footer p {
  width: 90%;
  display: block;
  margin: 0 auto;
}

footer a {
  color: #604c8d;
  text-decoration: none;
  font-weight: 900;
}

footer a:hover {
  text-decoration: underline;
}

.stars {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  mix-blend-mode: overlay;
  opacity: 0.5;
}

.stars div {
  border-radius: 100%;
  opacity: 1;
}

#stars1 {
  animation: animStar 200s linear infinite;
  width: 4px;
  height: 4px;
  box-shadow: 1313px 1390px #e1e1e1, 1684px 318px #e1e1e1, 1092px 833px #e1e1e1, 614px 1715px #e1e1e1, 1196px 291px #e1e1e1, 1296px 1720px #e1e1e1, 969px 1017px #e1e1e1, 1017px 1609px #e1e1e1, 1160px 1557px #e1e1e1, 1688px 1197px #e1e1e1, 1977px 86px #e1e1e1, 920px 530px #e1e1e1, 323px 161px #e1e1e1, 1254px 577px #e1e1e1, 1554px 1435px #e1e1e1, 1741px 1664px #e1e1e1, 930px 213px #e1e1e1, 453px 312px #e1e1e1, 837px 1775px #e1e1e1, 125px 328px #e1e1e1, 1096px 1291px #e1e1e1, 731px 331px #e1e1e1, 433px 1797px #e1e1e1, 1765px 150px #e1e1e1, 1558px 544px #e1e1e1, 213px 1037px #e1e1e1, 560px 919px #e1e1e1, 867px 152px #e1e1e1, 1524px 513px #e1e1e1, 966px 1873px #e1e1e1, 956px 483px #e1e1e1, 154px 1352px #e1e1e1, 1108px 687px #e1e1e1, 1334px 1401px #e1e1e1, 1297px 1100px #e1e1e1, 854px 255px #e1e1e1, 116px 1895px #e1e1e1, 1145px 1316px #e1e1e1, 999px 1113px #e1e1e1, 1431px 1781px #e1e1e1, 1972px 1018px #e1e1e1, 1351px 1229px #e1e1e1, 203px 1553px #e1e1e1, 154px 25px #e1e1e1, 771px 486px #e1e1e1, 1436px 59px #e1e1e1, 371px 964px #e1e1e1, 1193px 1420px #e1e1e1, 1850px 76px #e1e1e1, 1083px 1101px #e1e1e1, 695px 1193px #e1e1e1, 530px 395px #e1e1e1, 1959px 1601px #e1e1e1, 1860px 306px #e1e1e1, 923px 1273px #e1e1e1, 1165px 37px #e1e1e1, 1021px 519px #e1e1e1, 1271px 1027px #e1e1e1, 632px 1587px #e1e1e1, 701px 419px #e1e1e1, 705px 98px #e1e1e1, 888px 874px #e1e1e1, 1841px 1204px #e1e1e1, 1739px 630px #e1e1e1, 936px 1514px #e1e1e1, 1777px 1151px #e1e1e1, 1225px 776px #e1e1e1, 1504px 1663px #e1e1e1, 1680px 853px #e1e1e1, 412px 1313px #e1e1e1, 1848px 1931px #e1e1e1, 152px 1112px #e1e1e1, 27px 1514px #e1e1e1, 54px 1911px #e1e1e1, 782px 1650px #e1e1e1, 411px 1893px #e1e1e1, 1719px 501px #e1e1e1, 136px 990px #e1e1e1, 1553px 1038px #e1e1e1, 1961px 1961px #e1e1e1, 90px 1273px #e1e1e1, 778px 841px #e1e1e1, 179px 136px #e1e1e1, 1348px 1454px #e1e1e1, 1571px 1656px #e1e1e1, 1438px 1629px #e1e1e1, 1665px 1657px #e1e1e1, 1163px 1434px #e1e1e1, 731px 1923px #e1e1e1, 319px 1841px #e1e1e1, 972px 432px #e1e1e1, 305px 1561px #e1e1e1, 1533px 906px #e1e1e1, 1497px 1865px #e1e1e1, 623px 1859px #e1e1e1, 390px 625px #e1e1e1, 1699px 897px #e1e1e1, 1165px 1896px #e1e1e1, 525px 309px #e1e1e1, 1615px 375px #e1e1e1, 1921px 1550px #e1e1e1, 836px 1932px #e1e1e1, 345px 705px #e1e1e1, 745px 1733px #e1e1e1, 1712px 1221px #e1e1e1, 1635px 638px #e1e1e1, 828px 253px #e1e1e1, 666px 1638px #e1e1e1, 1382px 490px #e1e1e1, 675px 1928px #e1e1e1, 423px 1664px #e1e1e1, 315px 1484px #e1e1e1, 1878px 847px #e1e1e1, 612px 1691px #e1e1e1, 978px 484px #e1e1e1, 1002px 468px #e1e1e1, 121px 1228px #e1e1e1, 476px 1986px #e1e1e1, 132px 1653px #e1e1e1, 303px 461px #e1e1e1, 799px 1235px #e1e1e1, 112px 1361px #e1e1e1, 1406px 1418px #e1e1e1, 970px 581px #e1e1e1, 658px 1885px #e1e1e1, 839px 1146px #e1e1e1, 883px 1451px #e1e1e1, 303px 1475px #e1e1e1, 252px 465px #e1e1e1, 155px 819px #e1e1e1, 546px 781px #e1e1e1, 120px 1042px #e1e1e1, 1691px 120px #e1e1e1, 402px 251px #e1e1e1, 1042px 1771px #e1e1e1, 731px 1713px #e1e1e1, 461px 876px #e1e1e1, 1475px 1117px #e1e1e1, 1880px 744px #e1e1e1, 261px 590px #e1e1e1, 1465px 1820px #e1e1e1, 1732px 1306px #e1e1e1, 881px 515px #e1e1e1, 1996px 1715px #e1e1e1, 276px 1125px #e1e1e1, 917px 1615px #e1e1e1, 202px 790px #e1e1e1, 1648px 540px #e1e1e1, 1538px 1064px #e1e1e1, 322px 1747px #e1e1e1, 1646px 1495px #e1e1e1, 1984px 892px #e1e1e1, 1747px 1180px #e1e1e1, 1040px 1508px #e1e1e1, 1185px 979px #e1e1e1, 23px 695px #e1e1e1, 137px 598px #e1e1e1, 130px 1301px #e1e1e1, 1465px 1306px #e1e1e1, 145px 919px #e1e1e1, 1287px 1277px #e1e1e1, 25px 1531px #e1e1e1, 887px 1965px #e1e1e1, 1464px 1739px #e1e1e1, 1920px 1249px #e1e1e1, 1143px 113px #e1e1e1, 278px 811px #e1e1e1, 168px 1734px #e1e1e1, 235px 1259px #e1e1e1, 748px 299px #e1e1e1, 1643px 268px #e1e1e1, 817px 1002px #e1e1e1, 766px 884px #e1e1e1, 308px 936px #e1e1e1, 276px 480px #e1e1e1, 529px 975px #e1e1e1, 1696px 1701px #e1e1e1, 1747px 171px #e1e1e1, 202px 940px #e1e1e1, 15px 1441px #e1e1e1, 1317px 245px #e1e1e1, 297px 813px #e1e1e1, 1733px 1645px #e1e1e1, 1558px 1584px #e1e1e1, 1833px 753px #e1e1e1, 1172px 206px #e1e1e1, 1734px 755px #e1e1e1, 19px 1345px #e1e1e1, 1371px 1753px #e1e1e1, 874px 770px #e1e1e1, 689px 1382px #e1e1e1, 1289px 1602px #e1e1e1, 759px 1019px #e1e1e1, 1480px 819px #e1e1e1, 1530px 513px #e1e1e1, 1594px 869px #e1e1e1, 721px 459px #e1e1e1, 1080px 91px #e1e1e1, 600px 928px #e1e1e1, 817px 1126px #e1e1e1, 1152px 1275px #e1e1e1, 1515px 897px #e1e1e1, 1299px 1126px #e1e1e1, 481px 815px #e1e1e1, 644px 1422px #e1e1e1, 436px 292px #e1e1e1, 109px 522px #e1e1e1, 537px 1745px #e1e1e1, 246px 1266px #e1e1e1, 780px 25px #e1e1e1, 434px 1982px #e1e1e1, 484px 1222px #e1e1e1, 1932px 705px #e1e1e1, 1536px 1635px #e1e1e1, 1272px 500px #e1e1e1, 960px 1830px #e1e1e1, 1115px 880px #e1e1e1, 344px 1205px #e1e1e1, 358px 1172px #e1e1e1, 1305px 500px #e1e1e1, 1914px 1681px #e1e1e1, 588px 561px #e1e1e1, 1102px 70px #e1e1e1, 1851px 1759px #e1e1e1, 293px 1895px #e1e1e1, 64px 319px #e1e1e1, 1247px 178px #e1e1e1, 738px 304px #e1e1e1, 1366px 1400px #e1e1e1, 350px 110px #e1e1e1, 805px 500px #e1e1e1, 1286px 1055px #e1e1e1, 1226px 509px #e1e1e1, 598px 522px #e1e1e1, 1938px 570px #e1e1e1, 27px 203px #e1e1e1, 1502px 1287px #e1e1e1, 697px 1553px #e1e1e1, 218px 582px #e1e1e1, 902px 790px #e1e1e1, 187px 224px #e1e1e1, 1936px 630px #e1e1e1, 31px 882px #e1e1e1, 1632px 617px #e1e1e1, 1790px 1187px #e1e1e1, 900px 1427px #e1e1e1, 707px 941px #e1e1e1, 1131px 1271px #e1e1e1, 246px 600px #e1e1e1, 294px 106px #e1e1e1, 1913px 620px #e1e1e1, 819px 376px #e1e1e1, 123px 775px #e1e1e1, 51px 13px #e1e1e1, 678px 1427px #e1e1e1, 1441px 890px #e1e1e1, 1587px 49px #e1e1e1, 173px 902px #e1e1e1, 1907px 1923px #e1e1e1, 492px 572px #e1e1e1, 457px 1162px #e1e1e1, 207px 1165px #e1e1e1, 617px 150px #e1e1e1, 1167px 1381px #e1e1e1, 1209px 840px #e1e1e1, 216px 1001px #e1e1e1, 1411px 1717px #e1e1e1, 491px 1101px #e1e1e1, 600px 131px #e1e1e1, 1973px 207px #e1e1e1, 1005px 1346px #e1e1e1, 1745px 1280px #e1e1e1, 65px 1566px #e1e1e1, 1305px 1650px #e1e1e1, 1627px 534px #e1e1e1, 639px 317px #e1e1e1, 1169px 1327px #e1e1e1, 1377px 1408px #e1e1e1, 1213px 61px #e1e1e1, 197px 579px #e1e1e1, 896px 1645px #e1e1e1, 998px 1066px #e1e1e1, 1669px 1975px #e1e1e1, 396px 196px #e1e1e1, 1923px 1466px #e1e1e1, 1299px 942px #e1e1e1, 533px 1544px #e1e1e1, 869px 1304px #e1e1e1, 429px 273px #e1e1e1, 583px 1684px #e1e1e1, 1546px 470px #e1e1e1, 112px 539px #e1e1e1, 1455px 447px #e1e1e1, 45px 1131px #e1e1e1, 281px 1560px #e1e1e1, 753px 1913px #e1e1e1, 73px 1784px #e1e1e1, 1973px 544px #e1e1e1, 1757px 697px #e1e1e1, 444px 1114px #e1e1e1, 1773px 1898px #e1e1e1, 1725px 575px #e1e1e1, 1497px 157px #e1e1e1, 155px 264px #e1e1e1, 1882px 698px #e1e1e1, 335px 589px #e1e1e1, 1041px 134px #e1e1e1, 1293px 32px #e1e1e1, 585px 1103px #e1e1e1, 1859px 81px #e1e1e1, 1384px 1080px #e1e1e1, 1365px 1090px #e1e1e1, 893px 1958px #e1e1e1, 880px 41px #e1e1e1, 1020px 1900px #e1e1e1, 1810px 1857px #e1e1e1, 881px 255px #e1e1e1, 150px 1317px #e1e1e1, 222px 409px #e1e1e1, 1941px 1682px #e1e1e1, 1465px 591px #e1e1e1, 203px 1677px #e1e1e1, 106px 752px #e1e1e1, 1222px 80px #e1e1e1, 139px 114px #e1e1e1, 1762px 186px #e1e1e1, 1888px 571px #e1e1e1, 127px 597px #e1e1e1, 48px 1369px #e1e1e1, 1583px 972px #e1e1e1, 1177px 127px #e1e1e1, 390px 254px #e1e1e1, 845px 114px #e1e1e1, 1726px 526px #e1e1e1, 1332px 1817px #e1e1e1, 198px 1836px #e1e1e1, 712px 1867px #e1e1e1, 15px 325px #e1e1e1, 1399px 182px #e1e1e1, 1290px 411px #e1e1e1, 208px 503px #e1e1e1, 1107px 726px #e1e1e1, 658px 378px #e1e1e1, 1552px 1908px #e1e1e1, 1340px 207px #e1e1e1, 1262px 504px #e1e1e1, 120px 1729px #e1e1e1, 1866px 570px #e1e1e1, 934px 889px #e1e1e1, 1739px 262px #e1e1e1, 111px 1125px #e1e1e1, 1242px 128px #e1e1e1, 1388px 1378px #e1e1e1, 556px 109px #e1e1e1, 747px 221px #e1e1e1, 115px 848px #e1e1e1, 445px 1841px #e1e1e1, 1446px 253px #e1e1e1, 1157px 1621px #e1e1e1, 318px 884px #e1e1e1, 986px 40px #e1e1e1, 1291px 1942px #e1e1e1, 1254px 1010px #e1e1e1, 262px 1173px #e1e1e1, 638px 608px #e1e1e1, 965px 1970px #e1e1e1, 538px 625px #e1e1e1, 1817px 1348px #e1e1e1, 1722px 680px #e1e1e1, 1406px 1251px #e1e1e1, 622px 1884px #e1e1e1, 1298px 328px #e1e1e1, 106px 264px #e1e1e1, 566px 644px #e1e1e1, 893px 1885px #e1e1e1, 1978px 172px #e1e1e1, 969px 635px #e1e1e1, 589px 1392px #e1e1e1, 137px 1933px #e1e1e1, 550px 1015px #e1e1e1, 1801px 1768px #e1e1e1, 1766px 1900px #e1e1e1, 402px 887px #e1e1e1, 232px 1269px #e1e1e1, 1510px 1964px #e1e1e1, 1604px 389px #e1e1e1, 1093px 1184px #e1e1e1, 576px 1702px #e1e1e1, 1053px 1874px #e1e1e1, 420px 1901px #e1e1e1, 1837px 1602px #e1e1e1, 1456px 876px #e1e1e1, 365px 1495px #e1e1e1, 346px 280px #e1e1e1, 1727px 436px #e1e1e1, 1214px 1824px #e1e1e1, 1632px 30px #e1e1e1, 1631px 476px #e1e1e1, 397px 514px #e1e1e1, 1573px 627px #e1e1e1, 507px 1377px #e1e1e1, 469px 804px #e1e1e1, 596px 1833px #e1e1e1, 45px 1884px #e1e1e1, 65px 1017px #e1e1e1, 744px 547px #e1e1e1, 1066px 528px #e1e1e1, 1577px 753px #e1e1e1, 1136px 1371px #e1e1e1, 904px 532px #e1e1e1, 1503px 1050px #e1e1e1, 1488px 578px #e1e1e1, 1863px 1497px #e1e1e1, 1588px 1221px #e1e1e1, 1441px 687px #e1e1e1, 1411px 95px #e1e1e1, 813px 1273px #e1e1e1, 1280px 609px #e1e1e1, 1213px 959px #e1e1e1, 2px 1537px #e1e1e1, 1133px 1560px #e1e1e1, 697px 457px #e1e1e1, 1306px 2000px #e1e1e1, 1348px 1719px #e1e1e1, 1081px 979px #e1e1e1, 1661px 671px #e1e1e1, 1532px 1178px #e1e1e1, 1347px 1548px #e1e1e1, 1019px 1610px #e1e1e1, 283px 1569px #e1e1e1, 1663px 1705px #e1e1e1, 1802px 230px #e1e1e1, 962px 905px #e1e1e1, 521px 1903px #e1e1e1, 212px 519px #e1e1e1, 682px 712px #e1e1e1, 954px 230px #e1e1e1, 987px 901px #e1e1e1, 1768px 967px #e1e1e1, 364px 961px #e1e1e1, 1000px 1023px #e1e1e1, 1098px 138px #e1e1e1, 398px 1304px #e1e1e1, 874px 1575px #e1e1e1, 238px 107px #e1e1e1, 909px 1116px #e1e1e1, 80px 926px #e1e1e1, 1465px 1924px #e1e1e1, 902px 1400px #e1e1e1, 448px 1410px #e1e1e1, 1194px 476px #e1e1e1, 1485px 1598px #e1e1e1, 707px 1345px #e1e1e1, 635px 627px #e1e1e1, 1687px 1899px #e1e1e1, 1222px 1087px #e1e1e1, 1258px 1510px #e1e1e1, 381px 73px #e1e1e1, 1728px 1347px #e1e1e1, 896px 455px #e1e1e1, 624px 385px #e1e1e1, 1871px 347px #e1e1e1, 1117px 423px #e1e1e1, 482px 675px #e1e1e1, 728px 111px #e1e1e1, 1229px 1652px #e1e1e1, 1447px 897px #e1e1e1, 49px 1753px #e1e1e1, 341px 847px #e1e1e1, 1827px 1993px #e1e1e1, 1169px 1091px #e1e1e1, 1338px 1007px #e1e1e1, 1941px 610px #e1e1e1, 525px 1152px #e1e1e1, 211px 269px #e1e1e1, 1627px 229px #e1e1e1, 935px 967px #e1e1e1, 165px 1391px #e1e1e1, 334px 1539px #e1e1e1, 1110px 1927px #e1e1e1, 1760px 1697px #e1e1e1, 1827px 1168px #e1e1e1, 1721px 980px #e1e1e1, 1704px 1094px #e1e1e1, 1618px 1294px #e1e1e1, 89px 1200px #e1e1e1, 372px 286px #e1e1e1, 690px 1194px #e1e1e1, 1775px 783px #e1e1e1, 955px 47px #e1e1e1, 411px 712px #e1e1e1, 1617px 1904px #e1e1e1, 1194px 1632px #e1e1e1, 564px 1131px #e1e1e1, 794px 282px #e1e1e1, 1485px 1804px #e1e1e1, 744px 657px #e1e1e1, 384px 1816px #e1e1e1, 293px 875px #e1e1e1, 1530px 967px #e1e1e1, 1449px 362px #e1e1e1, 557px 4px #e1e1e1, 1203px 425px #e1e1e1, 982px 963px #e1e1e1, 1595px 1719px #e1e1e1, 237px 386px #e1e1e1, 1734px 370px #e1e1e1, 479px 112px #e1e1e1, 1301px 1693px #e1e1e1, 1249px 976px #e1e1e1, 1588px 358px #e1e1e1, 1298px 856px #e1e1e1, 445px 663px #e1e1e1, 1868px 1630px #e1e1e1, 1635px 1165px #e1e1e1, 1482px 155px #e1e1e1, 1814px 1936px #e1e1e1, 1903px 1930px #e1e1e1, 437px 1927px #e1e1e1, 291px 239px #e1e1e1, 1416px 241px #e1e1e1, 1668px 1728px #e1e1e1, 1597px 1749px #e1e1e1, 751px 1779px #e1e1e1, 867px 1069px #e1e1e1, 1364px 845px #e1e1e1, 1683px 1290px #e1e1e1, 1296px 1546px #e1e1e1, 1075px 28px #e1e1e1, 876px 263px #e1e1e1, 84px 1270px #e1e1e1, 1709px 682px #e1e1e1, 1397px 688px #e1e1e1, 81px 91px #e1e1e1, 503px 1222px #e1e1e1, 1648px 812px #e1e1e1, 1340px 1750px #e1e1e1, 711px 627px #e1e1e1, 1249px 290px #e1e1e1, 253px 251px #e1e1e1, 453px 635px #e1e1e1, 181px 13px #e1e1e1, 1805px 145px #e1e1e1, 985px 720px #e1e1e1, 1736px 1491px #e1e1e1, 75px 953px #e1e1e1, 715px 1040px #e1e1e1, 1117px 1548px #e1e1e1, 916px 493px #e1e1e1, 232px 1758px #e1e1e1, 1457px 81px #e1e1e1, 457px 760px #e1e1e1, 1953px 1944px #e1e1e1, 1000px 358px #e1e1e1, 160px 373px #e1e1e1, 824px 2px #e1e1e1, 1372px 654px #e1e1e1, 656px 1251px #e1e1e1, 624px 1085px #e1e1e1, 573px 1190px #e1e1e1, 409px 853px #e1e1e1, 1744px 1045px #e1e1e1, 1730px 1980px #e1e1e1, 402px 448px #e1e1e1, 1027px 1497px #e1e1e1, 469px 1083px #e1e1e1, 823px 199px #e1e1e1, 23px 1355px #e1e1e1, 22px 813px #e1e1e1, 131px 1483px #e1e1e1, 193px 776px #e1e1e1, 1626px 1168px #e1e1e1, 436px 37px #e1e1e1, 171px 151px #e1e1e1, 617px 493px #e1e1e1, 194px 1946px #e1e1e1, 1792px 298px #e1e1e1, 959px 1947px #e1e1e1, 1053px 1324px #e1e1e1, 1215px 599px #e1e1e1, 1667px 615px #e1e1e1, 124px 1063px #e1e1e1, 659px 1908px #e1e1e1, 11px 1874px #e1e1e1, 1893px 1628px #e1e1e1, 1718px 161px #e1e1e1, 33px 1505px #e1e1e1, 371px 1735px #e1e1e1, 1559px 181px #e1e1e1, 1698px 1965px #e1e1e1, 1524px 1588px #e1e1e1, 1216px 1202px #e1e1e1, 311px 1518px #e1e1e1, 982px 1442px #e1e1e1, 125px 600px #e1e1e1, 282px 330px #e1e1e1, 668px 1859px #e1e1e1, 1028px 1972px #e1e1e1, 1536px 119px #e1e1e1, 1914px 1484px #e1e1e1, 161px 1904px #e1e1e1, 1094px 1669px #e1e1e1, 1283px 1170px #e1e1e1, 690px 1858px #e1e1e1, 1232px 1973px #e1e1e1, 1276px 715px #e1e1e1, 475px 1011px #e1e1e1, 323px 838px #e1e1e1, 1569px 1028px #e1e1e1, 15px 285px #e1e1e1, 777px 1165px #e1e1e1, 1557px 463px #e1e1e1, 1688px 1389px #e1e1e1, 1301px 205px #e1e1e1, 802px 396px #e1e1e1, 1159px 133px #e1e1e1, 1241px 1985px #e1e1e1, 1212px 900px #e1e1e1, 401px 23px #e1e1e1, 270px 1781px #e1e1e1, 1151px 913px #e1e1e1, 136px 1834px #e1e1e1, 1149px 1033px #e1e1e1, 1915px 1926px #e1e1e1, 1428px 1594px #e1e1e1, 380px 896px #e1e1e1, 694px 847px #e1e1e1, 1303px 496px #e1e1e1, 582px 1064px #e1e1e1, 1292px 108px #e1e1e1, 81px 1429px #e1e1e1, 1406px 1885px #e1e1e1, 1169px 1072px #e1e1e1, 920px 1417px #e1e1e1, 961px 1306px #e1e1e1, 604px 299px #e1e1e1, 610px 792px #e1e1e1, 437px 403px #e1e1e1, 419px 530px #e1e1e1, 1542px 431px #e1e1e1, 1990px 1811px #e1e1e1, 1409px 453px #e1e1e1, 738px 1064px #e1e1e1, 484px 1182px #e1e1e1, 631px 537px #e1e1e1, 1022px 999px #e1e1e1, 556px 1075px #e1e1e1, 832px 938px #e1e1e1, 1103px 1323px #e1e1e1, 1989px 120px #e1e1e1, 1064px 553px #e1e1e1, 1464px 1448px #e1e1e1, 142px 1498px #e1e1e1, 648px 1890px #e1e1e1, 1331px 935px #e1e1e1, 875px 1967px #e1e1e1, 870px 332px #e1e1e1, 1730px 730px #e1e1e1, 70px 384px #e1e1e1, 1816px 1317px #e1e1e1, 1850px 168px #e1e1e1, 600px 307px #e1e1e1, 1099px 1035px #e1e1e1, 257px 353px #e1e1e1, 1371px 1551px #e1e1e1, 1955px 618px #e1e1e1, 1322px 1747px #e1e1e1, 1614px 924px #e1e1e1, 1728px 804px #e1e1e1, 1503px 1905px #e1e1e1, 680px 1747px #e1e1e1, 430px 871px #e1e1e1, 1384px 1115px #e1e1e1, 1543px 1618px #e1e1e1, 1417px 307px #e1e1e1, 994px 977px #e1e1e1, 479px 1197px #e1e1e1, 1217px 1687px #e1e1e1, 329px 930px #e1e1e1, 1449px 948px #e1e1e1, 1054px 77px #e1e1e1, 1185px 750px #e1e1e1, 1337px 646px #e1e1e1, 498px 795px #e1e1e1, 366px 20px #e1e1e1, 1888px 851px #e1e1e1, 1637px 1757px #e1e1e1, 6px 120px #e1e1e1, 584px 838px #e1e1e1, 1343px 820px #e1e1e1, 535px 1192px #e1e1e1, 180px 218px #e1e1e1, 577px 1850px #e1e1e1, 804px 1964px #e1e1e1, 71px 1382px #e1e1e1, 448px 1336px #e1e1e1, 1677px 199px #e1e1e1, 1673px 707px #e1e1e1, 496px 1746px #e1e1e1, 548px 847px #e1e1e1;
}

#stars2 {
  animation: animStar 150s linear infinite;
  width: 8px;
  height: 8px;
  box-shadow: 512px 575px #e2e2e2, 267px 1369px #e2e2e2, 1958px 695px #e2e2e2, 206px 1373px #e2e2e2, 1861px 1638px #e2e2e2, 1246px 613px #e2e2e2, 54px 1198px #e2e2e2, 551px 932px #e2e2e2, 1580px 1721px #e2e2e2, 1550px 442px #e2e2e2, 1010px 54px #e2e2e2, 1658px 707px #e2e2e2, 255px 1280px #e2e2e2, 990px 1494px #e2e2e2, 146px 1077px #e2e2e2, 1819px 1556px #e2e2e2, 1003px 1885px #e2e2e2, 1391px 1888px #e2e2e2, 983px 1669px #e2e2e2, 977px 1602px #e2e2e2, 1214px 1802px #e2e2e2, 142px 1192px #e2e2e2, 430px 353px #e2e2e2, 858px 1735px #e2e2e2, 484px 1011px #e2e2e2, 587px 1466px #e2e2e2, 178px 107px #e2e2e2, 1212px 1205px #e2e2e2, 243px 1393px #e2e2e2, 1750px 617px #e2e2e2, 979px 1135px #e2e2e2, 813px 1759px #e2e2e2, 578px 147px #e2e2e2, 280px 502px #e2e2e2, 963px 1342px #e2e2e2, 730px 1340px #e2e2e2, 360px 724px #e2e2e2, 978px 1931px #e2e2e2, 894px 1168px #e2e2e2, 380px 821px #e2e2e2, 1167px 1019px #e2e2e2, 1798px 480px #e2e2e2, 858px 133px #e2e2e2, 508px 1807px #e2e2e2, 528px 902px #e2e2e2, 248px 330px #e2e2e2, 1714px 1028px #e2e2e2, 1507px 199px #e2e2e2, 1060px 1117px #e2e2e2, 165px 929px #e2e2e2, 780px 1544px #e2e2e2, 1814px 758px #e2e2e2, 1158px 175px #e2e2e2, 1475px 1087px #e2e2e2, 706px 693px #e2e2e2, 854px 998px #e2e2e2, 1885px 845px #e2e2e2, 863px 1290px #e2e2e2, 107px 1139px #e2e2e2, 1746px 1973px #e2e2e2, 1611px 1239px #e2e2e2, 1094px 1983px #e2e2e2, 489px 1737px #e2e2e2, 434px 270px #e2e2e2, 125px 546px #e2e2e2, 1615px 1980px #e2e2e2, 1609px 38px #e2e2e2, 1809px 1593px #e2e2e2, 1524px 793px #e2e2e2, 597px 1314px #e2e2e2, 401px 1480px #e2e2e2, 407px 1645px #e2e2e2, 616px 1439px #e2e2e2, 378px 261px #e2e2e2, 876px 802px #e2e2e2, 531px 569px #e2e2e2, 1130px 129px #e2e2e2, 919px 384px #e2e2e2, 31px 719px #e2e2e2, 648px 961px #e2e2e2, 1066px 494px #e2e2e2, 38px 699px #e2e2e2, 1815px 725px #e2e2e2, 1140px 916px #e2e2e2, 450px 155px #e2e2e2, 1736px 1578px #e2e2e2, 161px 1152px #e2e2e2, 910px 61px #e2e2e2, 532px 1234px #e2e2e2, 1811px 204px #e2e2e2, 1865px 1240px #e2e2e2, 31px 1448px #e2e2e2, 1165px 1969px #e2e2e2, 1514px 1098px #e2e2e2, 1222px 1873px #e2e2e2, 460px 331px #e2e2e2, 161px 109px #e2e2e2, 1440px 1217px #e2e2e2, 748px 1186px #e2e2e2, 73px 1840px #e2e2e2, 671px 1878px #e2e2e2, 1422px 1829px #e2e2e2, 1073px 1205px #e2e2e2, 1247px 299px #e2e2e2, 942px 635px #e2e2e2, 783px 180px #e2e2e2, 1760px 1204px #e2e2e2, 1169px 1117px #e2e2e2, 1685px 15px #e2e2e2, 1826px 1586px #e2e2e2, 1148px 1355px #e2e2e2, 1947px 450px #e2e2e2, 1939px 726px #e2e2e2, 321px 1503px #e2e2e2, 972px 1673px #e2e2e2, 1738px 117px #e2e2e2, 714px 1588px #e2e2e2, 1829px 724px #e2e2e2, 629px 177px #e2e2e2, 1583px 1906px #e2e2e2, 1141px 896px #e2e2e2, 1214px 1989px #e2e2e2, 751px 827px #e2e2e2, 1709px 1018px #e2e2e2, 100px 761px #e2e2e2, 1401px 1674px #e2e2e2, 1393px 34px #e2e2e2, 723px 1095px #e2e2e2, 64px 787px #e2e2e2, 1002px 608px #e2e2e2, 972px 818px #e2e2e2, 894px 62px #e2e2e2, 151px 431px #e2e2e2, 1458px 492px #e2e2e2, 360px 1165px #e2e2e2, 1062px 131px #e2e2e2, 1610px 376px #e2e2e2, 1665px 1296px #e2e2e2, 1252px 340px #e2e2e2, 381px 1215px #e2e2e2, 37px 1126px #e2e2e2, 1984px 713px #e2e2e2, 1107px 1500px #e2e2e2, 1530px 773px #e2e2e2, 1038px 1931px #e2e2e2, 185px 221px #e2e2e2, 1369px 1552px #e2e2e2, 1144px 180px #e2e2e2, 391px 161px #e2e2e2, 1035px 206px #e2e2e2, 177px 268px #e2e2e2, 759px 1148px #e2e2e2, 1232px 294px #e2e2e2, 1335px 498px #e2e2e2, 1740px 1452px #e2e2e2, 1480px 1029px #e2e2e2, 1678px 656px #e2e2e2, 1450px 841px #e2e2e2, 305px 547px #e2e2e2, 557px 87px #e2e2e2, 1470px 263px #e2e2e2, 1910px 103px #e2e2e2, 1698px 905px #e2e2e2, 44px 899px #e2e2e2, 388px 1897px #e2e2e2, 1652px 202px #e2e2e2, 118px 20px #e2e2e2, 1956px 519px #e2e2e2, 1825px 1478px #e2e2e2, 176px 600px #e2e2e2, 371px 934px #e2e2e2, 1024px 1623px #e2e2e2, 480px 1470px #e2e2e2, 91px 1811px #e2e2e2, 1512px 319px #e2e2e2, 112px 803px #e2e2e2, 184px 699px #e2e2e2, 1328px 124px #e2e2e2, 149px 656px #e2e2e2, 1562px 33px #e2e2e2, 1013px 82px #e2e2e2, 1141px 1820px #e2e2e2, 1464px 262px #e2e2e2, 1902px 701px #e2e2e2, 272px 1211px #e2e2e2, 112px 894px #e2e2e2, 1126px 1651px #e2e2e2, 1294px 1378px #e2e2e2, 821px 115px #e2e2e2, 1786px 1332px #e2e2e2, 793px 790px #e2e2e2, 335px 756px #e2e2e2, 1710px 1237px #e2e2e2, 318px 1865px #e2e2e2, 664px 428px #e2e2e2, 366px 220px #e2e2e2, 1668px 917px #e2e2e2, 707px 1519px #e2e2e2, 1982px 304px #e2e2e2, 1795px 1908px #e2e2e2, 819px 1476px #e2e2e2, 860px 1370px #e2e2e2, 599px 178px #e2e2e2, 1987px 1995px #e2e2e2, 1626px 1673px #e2e2e2, 209px 560px #e2e2e2, 547px 1222px #e2e2e2, 894px 1944px #e2e2e2, 763px 571px #e2e2e2, 1049px 1558px #e2e2e2, 49px 1985px #e2e2e2, 538px 1378px #e2e2e2, 1339px 1963px #e2e2e2, 1896px 1390px #e2e2e2, 973px 409px #e2e2e2, 1351px 950px #e2e2e2, 905px 940px #e2e2e2, 936px 1769px #e2e2e2, 93px 575px #e2e2e2, 310px 124px #e2e2e2, 651px 1753px #e2e2e2, 50px 1496px #e2e2e2, 96px 1158px #e2e2e2, 1284px 1593px #e2e2e2, 68px 1976px #e2e2e2, 771px 1908px #e2e2e2, 825px 1088px #e2e2e2, 1520px 1543px #e2e2e2, 1998px 1286px #e2e2e2, 1549px 1677px #e2e2e2, 363px 884px #e2e2e2, 808px 686px #e2e2e2, 551px 1973px #e2e2e2, 895px 619px #e2e2e2, 796px 905px #e2e2e2, 388px 1313px #e2e2e2, 1499px 601px #e2e2e2, 81px 1853px #e2e2e2, 679px 202px #e2e2e2, 407px 647px #e2e2e2, 1095px 1310px #e2e2e2, 1969px 386px #e2e2e2, 849px 839px #e2e2e2, 676px 186px #e2e2e2, 1154px 1325px #e2e2e2, 829px 587px #e2e2e2, 546px 758px #e2e2e2, 1673px 988px #e2e2e2, 625px 134px #e2e2e2, 558px 1848px #e2e2e2;
}

#stars3 {
  animation: animStar 100s linear infinite;
  width: 12px;
  height: 12px;
  box-shadow: 579px 997px #d3d3d3, 1712px 75px #d3d3d3, 983px 1638px #d3d3d3, 350px 969px #d3d3d3, 1310px 1040px #d3d3d3, 1412px 16px #d3d3d3, 1421px 1658px #d3d3d3, 1682px 1197px #d3d3d3, 556px 396px #d3d3d3, 1221px 1128px #d3d3d3, 562px 1702px #d3d3d3, 1785px 307px #d3d3d3, 723px 1425px #d3d3d3, 955px 866px #d3d3d3, 1194px 1222px #d3d3d3, 550px 1827px #d3d3d3, 561px 1700px #d3d3d3, 1802px 1076px #d3d3d3, 1201px 1112px #d3d3d3, 1746px 1149px #d3d3d3, 1877px 366px #d3d3d3, 1925px 367px #d3d3d3, 1139px 344px #d3d3d3, 1999px 1513px #d3d3d3, 710px 1055px #d3d3d3, 1007px 1299px #d3d3d3, 1883px 1392px #d3d3d3, 936px 1633px #d3d3d3, 120px 1225px #d3d3d3, 22px 1573px #d3d3d3, 494px 196px #d3d3d3, 119px 590px #d3d3d3, 1074px 1001px #d3d3d3, 149px 681px #d3d3d3, 811px 1314px #d3d3d3, 442px 313px #d3d3d3, 399px 1036px #d3d3d3, 1881px 983px #d3d3d3, 410px 701px #d3d3d3, 1168px 1495px #d3d3d3, 1650px 501px #d3d3d3, 1974px 952px #d3d3d3, 297px 893px #d3d3d3, 1948px 1953px #d3d3d3, 658px 1109px #d3d3d3, 1021px 186px #d3d3d3, 795px 1979px #d3d3d3, 1851px 1545px #d3d3d3, 283px 1663px #d3d3d3, 1800px 594px #d3d3d3, 1629px 39px #d3d3d3, 492px 1159px #d3d3d3, 415px 1906px #d3d3d3, 20px 1993px #d3d3d3, 1990px 876px #d3d3d3, 1128px 1724px #d3d3d3, 1568px 393px #d3d3d3, 1175px 1436px #d3d3d3, 633px 2px #d3d3d3, 610px 681px #d3d3d3, 1549px 152px #d3d3d3, 448px 1485px #d3d3d3, 1951px 1401px #d3d3d3, 1834px 308px #d3d3d3, 261px 1874px #d3d3d3, 1672px 1138px #d3d3d3, 1068px 839px #d3d3d3, 1592px 1079px #d3d3d3, 831px 408px #d3d3d3, 1093px 834px #d3d3d3, 869px 559px #d3d3d3, 1783px 572px #d3d3d3, 1307px 1957px #d3d3d3, 1571px 809px #d3d3d3, 1222px 1705px #d3d3d3, 1752px 897px #d3d3d3, 332px 313px #d3d3d3, 1131px 844px #d3d3d3, 664px 619px #d3d3d3, 439px 1961px #d3d3d3, 63px 1983px #d3d3d3, 959px 1388px #d3d3d3, 1406px 1359px #d3d3d3, 1274px 1276px #d3d3d3, 152px 430px #d3d3d3, 1862px 599px #d3d3d3, 126px 1094px #d3d3d3, 1295px 800px #d3d3d3, 1232px 819px #d3d3d3, 301px 1384px #d3d3d3, 1787px 1057px #d3d3d3, 1350px 802px #d3d3d3, 963px 1607px #d3d3d3, 44px 1236px #d3d3d3, 1350px 1910px #d3d3d3, 1784px 1703px #d3d3d3, 1400px 968px #d3d3d3, 549px 1245px #d3d3d3, 281px 242px #d3d3d3, 1370px 38px #d3d3d3;
}

#stars4 {
  animation: animStar 50s linear infinite;
  width: 16px;
  height: 16px;
  box-shadow: 1010px 470px #e4e4e4, 1966px 121px #e4e4e4, 1484px 725px #e4e4e4, 1978px 1124px #e4e4e4, 1505px 246px #e4e4e4, 1872px 506px #e4e4e4, 1303px 1995px #e4e4e4, 1830px 1486px #e4e4e4, 1106px 1068px #e4e4e4, 1179px 1836px #e4e4e4, 1112px 605px #e4e4e4, 578px 401px #e4e4e4, 1981px 1827px #e4e4e4, 1165px 1126px #e4e4e4, 1901px 1230px #e4e4e4, 1171px 748px #e4e4e4, 1975px 283px #e4e4e4, 701px 1184px #e4e4e4, 98px 1583px #e4e4e4, 1748px 552px #e4e4e4, 916px 1110px #e4e4e4, 210px 1236px #e4e4e4, 1798px 1615px #e4e4e4, 1356px 724px #e4e4e4, 1527px 992px #e4e4e4, 956px 1641px #e4e4e4, 83px 1197px #e4e4e4, 1102px 1155px #e4e4e4, 417px 435px #e4e4e4, 1407px 477px #e4e4e4, 1907px 804px #e4e4e4, 434px 621px #e4e4e4, 589px 651px #e4e4e4, 577px 885px #e4e4e4, 96px 437px #e4e4e4, 1719px 1980px #e4e4e4, 1055px 1275px #e4e4e4, 1207px 1153px #e4e4e4, 1350px 1989px #e4e4e4, 57px 1733px #e4e4e4, 80px 1439px #e4e4e4, 1873px 742px #e4e4e4, 1390px 450px #e4e4e4, 122px 1360px #e4e4e4, 1119px 79px #e4e4e4, 932px 291px #e4e4e4, 296px 1958px #e4e4e4, 195px 1037px #e4e4e4, 1332px 990px #e4e4e4, 1639px 1646px #e4e4e4;
}
