body {
  margin: 0;
  background: #F3EEDF;
  overflow: hidden;
  font-family: filson-pro, sans-serif;
}

.canvasWrap {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  position: relative !important;
  height: 100% !important;
  width: 231.4vh !important;
}

@media (max-width: 800px) {
  canvas {
    width: 61.5vh !important;
  }
}

#animation_container {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  height: 100% !important;
  width: auto !important;
}

*::selection {
  color: transparent;
  background: rgba(244, 159, 68, 0.25);
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
}

h1 {
  font-size: 50px;
}

h2, p {
  position: relative;
}

h2 {
  font-size: 6.65vh;
  font-weight: 900;
  line-height: 1.2;
  margin: 0 0 1vh;
}

p {
  font-size: 2vh;
}

#lockups {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0.5;
  color: transparent;
}

@media (max-width: 800px) {
  #lockups {
    display: none;
  }
}

#lockups div:not(.textWrap):not(.col):not(.box):not(.bigger) {
  display: none;
}

#lockups .current {
  display: block !important;
}

.textWrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.textWrap .col {
  width: 50%;
  float: left;
}

.logo h2 {
  width: 85vh;
  height: 50vh;
}

@media (min-width: 800px) {
  .welcome .textWrap {
    margin-left: 30.5vh;
    margin-top: 0.5vh;
    width: 58vh;
    height: 70vh;
  }
  .welcome .textWrap h2 {
    font-size: 7.85vh;
    left: -22.6vh;
    margin-bottom: 5.75vh;
    line-height: 1.1;
  }
  .welcome .textWrap p {
    width: 57vh;
    font-size: 2.77vh;
    line-height: 1.575;
  }
  .welcome .textWrap p:not(:last-of-type) {
    margin-bottom: 3.5vh;
  }
  .details .textWrap {
    width: 60vh;
    height: 36vh;
    margin-top: 1.25vh;
    margin-left: 32vh;
  }
  .details h2, .details h3, .details p {
    position: absolute;
    margin: 0;
  }
  .details h2 {
    line-height: 1;
  }
  .details h3 {
    font-size: 4.25vh;
    font-weight: 500;
    line-height: 1.5;
    left: -4.5vh;
    top: 14.6vh;
  }
  .details h3 span {
    display: block;
    position: relative;
    left: 24.7vh;
  }
  .details p {
    bottom: 0;
    font-size: 3.03vh;
    left: -6vh;
    font-weight: 600;
  }
  .healing .textWrap {
    width: 70vh;
    height: 80vh;
    margin-left: 28vh;
    margin-top: 9.5vh;
  }
  .healing .textWrap h2 {
    font-size: 6.65vh;
    left: -25vh;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 2.3vh;
  }
  .healing .textWrap h2 span {
    display: block;
    position: relative;
    left: 16.4vh;
    white-space: nowrap;
  }
  .healing .textWrap p {
    font-size: 2.3vh;
    line-height: 1.7;
    margin: 0 0 1.5em;
    width: 58vh;
  }
  .healing .textWrap p:not(:last-of-type) {
    margin-bottom: 4vh;
  }
  .honoreea h2, .honoreeb h2, .artista h2, .artistb h2 {
    position: absolute;
  }
  .honoreea h3, .honoreeb h3, .artista h3, .artistb h3 {
    position: relative;
    margin: 0 0 1vh;
    font-size: 2.8vh;
  }
  .honoreea p, .honoreeb p, .artista p, .artistb p {
    margin: 0;
    font-size: 2.3vh;
    line-height: 1.68;
  }
  .honoreea h3, .honoreeb h3 {
    left: -4.5vh;
  }
  .honoreea h2 {
    top: -23vh;
    left: -21vh;
  }
  .honoreea .textWrap {
    margin-left: 36vh;
    margin-top: 16.5vh;
    width: 50vh;
    height: 40vh;
  }
  .honoreeb h2 {
    top: -38vh;
    left: -87.3vh;
  }
  .honoreeb h3 {
    left: -4vh;
  }
  .honoreeb .textWrap {
    margin-left: 41vh;
    margin-top: 24.75vh;
    width: 50vh;
    height: 40vh;
  }
  .artista h2, .artistb h2 {
    font-size: 4.27vh;
  }
  .artista h2 span, .artistb h2 span {
    display: block;
    position: relative;
    left: 6.2vh;
  }
  .artista h2 {
    left: -84vh;
    top: 30vh;
  }
  .artista h3 {
    left: -7.35vh;
    top: -0.5vh;
  }
  .artista .textWrap {
    width: 70vh;
    height: 60vh;
    margin-left: 52.5vh;
    margin-top: 15.75vh;
  }
  .artistb h2 {
    left: -49.5vh;
    top: -15.75vh;
  }
  .artistb h3 {
    top: 0.5vh;
    left: -6.5vh;
  }
  .artistb .textWrap {
    width: 70vh;
    height: 60vh;
    margin-left: 57.5vh;
    margin-top: 14.75vh;
  }
  .committee .textWrap {
    width: 76vh;
    margin-left: 36.3vh;
  }
  .committee h2 {
    margin: -4.5vh 0 3.5vh -15.5vh;
  }
  .committee p {
    margin: 0;
    font-size: 2.73vh;
    line-height: 1.2;
  }
  .tickets .textWrap {
    margin-left: 20.1vh;
    margin-top: -0.75vh;
    width: 90vh;
    height: 75vh;
  }
  .tickets ul, .tickets p, .tickets h4 {
    font-size: 1.82vh;
    margin: 0 0 0.25vh;
    line-height: 1.2;
  }
  .tickets h4:not(:first-of-type) {
    margin-top: 3vh;
  }
  .tickets h2 {
    margin-bottom: 0.4vh;
    margin-left: -9.5vh;
  }
  .tickets h2 + p {
    font-size: 1.82vh;
    width: 94vh;
    margin-bottom: 1.75rem;
  }
  .tickets ul {
    padding: 0 0 0 0.8em;
  }
  .tickets ul li li {
    padding-left: 1.4em;
  }
  .tickets .box {
    display: block;
    margin-top: 2vh;
    float: left;
    width: 110%;
  }
  .tickets .box h4, .tickets .box p {
    display: inline;
  }
  .tickets .box ul {
    padding-left: 3em;
  }
  .thanks .textWrap {
    width: 66vh;
    height: 32.5vh;
    margin-left: -2.5vh;
    margin-top: 3.15vh;
  }
  .thanks .textWrap h3 {
    position: absolute;
    line-height: 1.163;
    margin: 0;
  }
  .thanks .textWrap h3:first-of-type {
    font-size: 4.24vh;
    font-weight: 500;
    top: 0;
    left: 0;
  }
  .thanks .textWrap h3:last-of-type {
    font-size: 4.32vh;
    bottom: 0;
    right: 0;
  }
}
