.bracketTop, .bracketBottom {
	position: relative;
}

.bracketTop:before {
	content: '';
	display: block;
	margin: 0;
	width: 85px;
	height: 5px;
	border-top: 6px solid #3b393a;
	border-left: 6px solid #3b393a;
	border-right: 6px solid #3b393a;
}

.bracketBottom:after {
	content: '';
	display: block;
	margin: 0 auto;
	width: 85px;
	height: 30px;
	border-bottom: 6px solid #3b393a;
	border-left: 6px solid #3b393a;
	border-right: 6px solid #3b393a;
}

.center .bracketTop:before, .center .bracketTop:after, .center .bracketBottom:before, .center .bracketBottom:after {
	margin-left: auto;
	margin-right: auto;
}

/*Width Assignments*/
.split {
	width: 50%;
	display: inline-block;
}

.w6, .w5, .w3, .w25, .w2 {
	display: inline-block;
	vertical-align: top;
}

.w6 {
	width: 59%;
	margin-right: 6%;
}

.w5 {
	width: 44%;
	margin: 0 2.5% 2rem;
}

.w3 {
	width: 29%;
	margin: 0 2% 2rem;
}

.w25 {
	width: 20%;
	margin: 0 1.5%;
}

.w2 {
	width: 16%;
	margin: 0 1.5% 2rem;
}

@media (max-width: 1000px) {
	.w5, .split {
		width: 100%;
	}
	.w5 {
		margin: 0 auto 2rem;
	}
	.w25, .w2 {
		width: 44%;
		margin: 0 2.5% 2em;
	}
}

@media (max-width: 600px) {
	.w3, .w25, .w2, .w6 {
		width: 90%;
		margin: 0 auto 2em;
		display: table;
	}
}
