.bracketTop, .bracketBottom {
	position: relative;
}

.bracketTop:before {
	content: '';
	display: block;
	margin: 0;
	width: 85px;
	height: 5px;
	border-top: 6px solid #3b393a;
	border-left: 6px solid #3b393a;
	border-right: 6px solid #3b393a;
}

.bracketBottom:after {
	content: '';
	display: block;
	margin: 0 auto;
	width: 85px;
	height: 30px;
	border-bottom: 6px solid #3b393a;
	border-left: 6px solid #3b393a;
	border-right: 6px solid #3b393a;
}

.center .bracketTop:before, .center .bracketTop:after, .center .bracketBottom:before, .center .bracketBottom:after {
	margin-left: auto;
	margin-right: auto;
}

.contact .hero.static {
	padding: 1rem 0;
}

.contact .hero.static .headline {
	text-align: center;
}

.contact .hero + .textGrid {
	padding-bottom: 0rem;
}

.contact .textGrid h4 {
	font-size: 1.4rem;
}

.contact .textGrid a {
	color: #000;
	font-weight: 700;
	text-decoration: underline;
}

.contact .textGrid a:hover {
	color: #ffd503;
}

.contact .textGrid header p {
	white-space: nowrap;
}

.contact .textGrid a[href*="tel:"] {
	display: inline-block;
	margin-top: 0.5rem;
	color: #000;
	font-weight: 500;
	text-decoration: none;
}

.webform-component-checkboxes label:not(.option) {
	display: none;
}

.webform-component-checkboxes input[type="checkbox"], .webform-component-checkboxes label.option {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.webform-component-checkboxes input[type="checkbox"] {
	width: 1.5rem;
	height: 1.5rem;
	margin-right: 1rem;
}

.webform-component-checkboxes label.option {
	margin: 0;
	width: auto;
}

.node-type-webform .textGrid + .contactForm {
	margin-top: -2rem;
}

.node-type-webform .webform-submit {
	display: block;
	background-color: #ffd503;
	border: 1px solid #ffd503;
	color: #1a1719;
	width: 130px;
	padding: 1.1em 2em;
	border: 0;
	outline: 0;
	outline-offset: 0;
	-webkit-appearance: none;
	font-weight: 600;
	text-transform: uppercase;
	margin: 3rem auto 2rem;
	transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

.node-type-webform .webform-submit:hover {
	color: #ffd503;
	background-color: #1a1719;
}

.node-type-webform form {
	display: table;
	width: 95%;
	max-width: 1024px;
	margin: 0 auto;
	color: #3b393a;
}

.node-type-webform form label {
	width: 100%;
}

.node-type-webform form input[type="text"], .node-type-webform form input[type="email"], .node-type-webform form input[type="telephone"] {
	width: calc(100% - 2rem);
}

.node-type-webform form label {
	display: block;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 0.5rem;
	font-size: 1.1rem;
}

.node-type-webform form input[type="text"], .node-type-webform form input[type="email"], .node-type-webform form input[type="telephone"], .node-type-webform form textarea {
	border: 0;
	padding: 1rem 1rem;
	outline: 1px solid #4c4b4c;
	outline-offset: 0;
}

.node-type-webform form textarea {
	height: 5rem;
}

.node-type-webform form select {
	width: 100%;
	border: 0;
	padding: 1rem 1rem;
	outline: 1px solid #4c4b4c;
	background: #FFF url(../img/ddArrow.png) 98.5% center no-repeat;
	outline-offset: 0;
	-webkit-appearance: none;
}

.node-type-webform form select.converted {
	display: none;
}

.node-type-webform form .dropDown {
	height: 3rem;
	cursor: pointer;
	width: 100%;
	outline: 1px solid #4c4b4c;
	position: relative;
	z-index: 1;
	background: #FFF;
}

.node-type-webform form .dropDown .listConstraint {
	height: 3rem;
	width: 100%;
	overflow: hidden;
	position: absolute;
	outline: 1px solid #000;
	box-shadow: 0px 0px 20px transparent;
	transition: all 0.5s;
}

.node-type-webform form .dropDown .listConstraint .default {
	display: table;
	width: 100%;
	height: 3rem;
	float: left;
}

.node-type-webform form .dropDown .listConstraint .default p {
	margin: 0;
	display: table-cell;
	vertical-align: middle;
	padding: 0 1rem;
}

.node-type-webform form .dropDown .listConstraint:before, .node-type-webform form .dropDown .listConstraint:after {
	content: '';
	position: absolute;
	width: 3rem;
	height: 3rem;
	top: 0;
	right: 0;
	z-index: 1;
}

.node-type-webform form .dropDown .listConstraint:before {
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	background: #FFF;
	transition: background 0.3s ease-out;
}

.node-type-webform form .dropDown .listConstraint:after {
	background: url(../img/ddArrow.png) center no-repeat;
	transition: all 0.3s ease-out;
}

.node-type-webform form .dropDown .listConstraint[style*="height"] {
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.node-type-webform form .dropDown .listConstraint[style*="height"]:before {
	background: #ffd503;
}

.node-type-webform form .dropDown .listConstraint[style*="height"]:after {
	transform: rotate(180deg);
}

.node-type-webform form .dropDown ul {
	width: 100%;
	display: inline-block;
	max-height: 15rem;
	overflow-y: auto;
	background: #FFF;
	margin: 0;
	padding: 0;
	border-top: 1px solid #000;
	position: relative;
}

.node-type-webform form .dropDown ul li {
	list-style-type: none;
	height: 3rem;
	width: calc(100% - 2rem);
	border-bottom: 1px solid #000;
	padding: 0 1rem;
	display: table;
	transition: background 0.3s;
}

.node-type-webform form .dropDown ul li:hover {
	background: #ffd503;
}

.node-type-webform form .dropDown ul li p {
	margin: 0;
	display: table-cell;
	vertical-align: middle;
}

.node-type-webform form .dropDown ul li:last-of-type {
	border-bottom: 0;
}

.node-type-webform form .dropDown.ddOpen {
	z-index: 3;
}

.node-type-webform .webform-layout-box.horiz > * + * {
	margin-left: 0;
}

.node-type-webform .form-item {
	width: 100%;
	float: left;
}

.node-type-webform .form-item .description {
	margin-left: 0.75rem;
	color: #a1a1a1;
	position: absolute;
	margin-top: 0.2rem;
}

.node-type-webform .form-item input[type="text"], .node-type-webform .form-item input[type="email"], .node-type-webform .form-item input[type="telephone"] {
	width: calc(100% - 2rem);
}

.contactForm {
	padding-bottom: 4rem;
}

.contactForm form {
	display: table;
	width: 95%;
	max-width: 1024px;
	margin: 0 auto;
	color: #3b393a;
}

.contactForm fieldset {
	border: 0;
	outline: 0;
	margin: 0 0 1rem;
	padding: 0;
	width: 100%;
}

.contactForm fieldset.split {
	width: 48.75%;
	float: left;
}

.contactForm fieldset.split label {
	width: 97.5%;
}

.contactForm fieldset.split input[type="text"], .contactForm fieldset.split input[type="email"], .contactForm fieldset.split input[type="telephone"] {
	width: calc(100% - 2rem);
}

.contactForm fieldset.split.right {
	margin-left: 2.5%;
}

.contactForm label {
	width: 100%;
	display: block;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 0.5rem;
	font-size: 1.1rem;
}

.contactForm input[type="text"], .contactForm input[type="email"], .contactForm input[type="telephone"], .contactForm textarea {
	width: calc(100% - 2rem);
	max-width: calc(1024px - 2rem);
	border: 0;
	padding: 1rem 1rem;
	outline: 1px solid #4c4b4c;
	outline-offset: 0;
}

.contactForm textarea {
	height: 5rem;
}

.contactForm select {
	width: 100%;
	border: 0;
	padding: 1rem 1rem;
	outline: 1px solid #4c4b4c;
	background: #FFF url(../img/ddArrow.png) 98.5% center no-repeat;
	outline-offset: 0;
	-webkit-appearance: none;
}

.contactForm select.converted {
	display: none;
}

.contactForm .dropDown {
	height: 3rem;
	cursor: pointer;
	width: 100%;
	outline: 1px solid #4c4b4c;
	position: relative;
	z-index: 1;
}

.contactForm .dropDown .listConstraint {
	height: 3rem;
	width: 100%;
	overflow: hidden;
	position: absolute;
	outline: 1px solid #000;
	box-shadow: 0px 0px 20px transparent;
	transition: all 0.5s;
}

.contactForm .dropDown .listConstraint .default {
	display: table;
	width: 100%;
	height: 3rem;
	float: left;
}

.contactForm .dropDown .listConstraint .default p {
	margin: 0;
	display: table-cell;
	vertical-align: middle;
	padding: 0 1rem;
}

.contactForm .dropDown .listConstraint:before, .contactForm .dropDown .listConstraint:after {
	content: '';
	position: absolute;
	width: 3rem;
	height: 3rem;
	top: 0;
	right: 0;
	z-index: 1;
}

.contactForm .dropDown .listConstraint:before {
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	background: #FFF;
	transition: background 0.3s ease-out;
}

.contactForm .dropDown .listConstraint:after {
	background: url(../img/ddArrow.png) center no-repeat;
	transition: all 0.3s ease-out;
}

.contactForm .dropDown .listConstraint[style*="height"] {
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.contactForm .dropDown .listConstraint[style*="height"]:before {
	background: #ffd503;
}

.contactForm .dropDown .listConstraint[style*="height"]:after {
	transform: rotate(180deg);
}

.contactForm .dropDown ul {
	width: 100%;
	display: inline-block;
	max-height: 15rem;
	overflow-y: auto;
	background: #FFF;
	margin: 0;
	padding: 0;
	border-top: 1px solid #000;
	position: relative;
}

.contactForm .dropDown ul li {
	list-style-type: none;
	height: 3rem;
	width: calc(100% - 2rem);
	border-bottom: 1px solid #000;
	padding: 0 1rem;
	display: table;
	transition: background 0.3s;
}

.contactForm .dropDown ul li:hover {
	background: #ffd503;
}

.contactForm .dropDown ul li p {
	margin: 0;
	display: table-cell;
	vertical-align: middle;
}

.contactForm .dropDown ul li:last-of-type {
	border-bottom: 0;
}

.contactForm .dropDown.ddOpen {
	z-index: 3;
}

.contactForm .contact-text {
	resize: none;
}

.contactForm .contact-submit {
	display: block;
	background-color: #ffd503;
	border: 1px solid #ffd503;
	width: 130px;
	padding: 10px 0px;
	margin-left: auto;
	margin-right: auto;
}

.contactForm + .textGrid {
	padding-top: 0;
}

@media screen and (max-width: 600px) {
	.contactForm fieldset.split {
		width: 100%;
	}
	.contactForm fieldset.split.right {
		margin-left: 0;
	}
	.contactForm fieldset.split:nth-child(even) label, .contactForm fieldset.split:nth-child(even) input[type="text"], .contactForm fieldset.split:nth-child(even) input[type="email"], .contactForm fieldset.split:nth-child(even) input[type="telephone"] {
		margin-left: 0;
	}
	.contactForm fieldset.split input[type="text"], .contactForm fieldset.split input[type="email"], .contactForm fieldset.split input[type="telephone"] {
		width: calc(100% - 2rem);
	}
	/*.node-type-webform {
		.webform-component-textfield, .webform-component-phone, .webform-component-email{
			width:100%;

			.description{
				position:relative;
				margin-left:0;
			}

			&:nth-child(even){
				label,input[type="text"],input[type="email"],input[type="telephone"]{
					margin-left:0;
				}
			}
			input[type="text"],input[type="email"],input[type="telephone"]{
				width:calc(100% - 2rem);
			}
		}
	}*/
}
