@import url("https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic");
#footer {
    position: relative;
    padding: 40px 0 70px;
    background-color: #313336;
    font-family: "Roboto", arial, sans-serif;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    letter-spacing: -0.30em;
}
@media screen and (max-width: 767px) {
    #footer {
        padding: 0 0 10px;
    }
}
#footer * {
    box-sizing: border-box;
}
#footer a {
    text-decoration: none;
}
#block-stgo-footer-social-counters {
    max-width: 955px;
    margin: 0 auto;
    padding-bottom: 40px;
    border-bottom: 1px solid #444;
    color: #fff;
    text-align: center;
    white-space: normal;
    letter-spacing: 0;
}
@media screen and (max-width: 1023px) and (min-width: 767px) {
    #block-stgo-footer-social-counters {
        padding-right: 35px;
        padding-left: 35px;
    }
}
@media screen and (max-width: 767px) {
    #block-stgo-footer-social-counters {
        padding-bottom: 0;
        border-bottom: 0;
    }
}
#block-stgo-footer-social-counters .content {
    display: table;
    width: 100%;
    padding-left: 0.8%;
    padding-right: 0.8%;
    max-width: 960px;
    margin: 0 auto;
}
@media screen and (max-width: 1023px) and (min-width: 767px) {
    #block-stgo-footer-social-counters .content {
        max-width: none;
        padding-left: 3%;
        padding-right: 3%;
    }
}
@media screen and (max-width: 767px) {
    #block-stgo-footer-social-counters .content {
        padding: 0;
    }
}
#block-stgo-footer-social-counters .footer-social {
    display: table-row;
}
#block-stgo-footer-social-counters .footer-social > * {
    display: table-cell;
    vertical-align: middle;
}
#block-stgo-footer-social-counters .legend {
    position: relative;
    max-width: 100%;
    width: 205px;
    margin-right: 55px;
    padding: 20px 35px;
    background-color: #2d5eb5;
    border-radius: 3px;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
    line-height: 1.15em;
}
@media screen and (max-width: 1023px) and (min-width: 767px) {
    #block-stgo-footer-social-counters .legend {
        padding: 20px 15px;
        font-size: 12px;
        text-align: center;
    }
}
@media screen and (max-width: 767px) {
    #block-stgo-footer-social-counters .legend {
        display: none;
    }
}
#block-stgo-footer-social-counters .legend:after {
    position: absolute;
    right: -16px;
    top: 20px;
    border: 8px solid transparent;
    border-left-color: #2d5eb5;
    border-top-color: #2d5eb5;
    content: "";
}
#block-stgo-footer-social-counters .social-count {
    max-width: 150px;
    border-left: 1px solid #444;
}
@media screen and (max-width: 767px) {
    #block-stgo-footer-social-counters .social-count {
        display: inline-block;
        width: 50%;
        max-width: none;
        padding: 20px 0;
        border: none;
        border-bottom: 1px solid #444;
    }
    #block-stgo-footer-social-counters .social-count.twitter,
    #block-stgo-footer-social-counters .social-count.linkedin {
        border-left: 1px solid #444;
    }
}
#block-stgo-footer-social-counters .social-count .inner {
    display: block;
    padding: 0 20px;
    color: #fff;
    text-align: center;
    -webkit-transition: color 250ms ease;
    transition: color 250ms ease;
}
@media screen and (max-width: 1023px) and (min-width: 767px) {
    #block-stgo-footer-social-counters .social-count .inner {
        padding: 10px 15px;
    }
}
@media screen and (max-width: 767px) {
    #block-stgo-footer-social-counters .social-count .inner {
        display: inline-block;
        width:calc(100% - 40px);
        padding: 0 20px!important;
    }
}
#block-stgo-footer-social-counters .social-count .inner.first {
    padding-left: 50px;
}
@media screen and (max-width: 1023px) and (min-width: 767px) {
    #block-stgo-footer-social-counters .social-count .inner.first {
        padding-left: 40px;
    }
}
#block-stgo-footer-social-counters .social-count .inner.first:hover {
    color: #435eaa;
}
#block-stgo-footer-social-counters .social-count.twitter .inner:hover {
    color: #07b1f2;
}
#block-stgo-footer-social-counters .social-count.youtube .inner:hover {
    color: #e12424;
}
#block-stgo-footer-social-counters .social-count.linkedin .inner:hover {
    color: #0a6eb4;
}
#block-stgo-footer-social-counters .social-count.instagram .inner:hover {
    color: #5560ab;
}
#block-stgo-footer-social-counters .social-count .number {
    color: #435eaa;
    font-size: 45px;
    font-weight: 700;
    line-height: 35px;
}
.sgFooterLogo{
  width:200px;
  max-width:100%;
  height:90px;
  background:url(../img/sgFooterLogo.png) left center no-repeat;
  background-size:contain;
  display:inline-block;
}
.social-count{
  .number, .label{
    display: none;
  }
  & a:before{
    content: '';
    position: relative;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 10px auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  &.facebook a:before{
    background-image: url(../img/facebook_large.png);
  }
  &.twitter a:before{
    background-image: url(../img/twitter_large.png);
  }
  &.linkedin a:before{
    background-image: url(../img/linkedin_large.png);
  }
  &.youtube a:before{
    background-image: url(../img/youtube_large.png);
  }
  &.instagram a:before{
    background-image: url(../img/instagram_large.png);
  }
}
@media screen and (max-width: 1023px) and (min-width: 767px) {
    #block-stgo-footer-social-counters .social-count .number {
        font-size: 40px;
    }
}
@media screen and (max-width: 767px) {
    #block-stgo-footer-social-counters .social-count .number {
        font-size: 35px;
    }
}
#block-stgo-footer-social-counters .social-count.twitter .number {
    color: #07b1f2;
}
#block-stgo-footer-social-counters .social-count.youtube .number {
    color: #e12424;
}
#block-stgo-footer-social-counters .social-count.linkedin .number {
    color: #0a6eb4;
}
#block-stgo-footer-social-counters .social-count.instagram .number {
    color: #5560ab;
}
#block-stgo-footer-social-counters .social-count .label {
    position: relative;
    margin-top: 5px;
    padding-left: 30px;
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;
}
@media screen and (max-width: 1023px) and (min-width: 767px) {
    #block-stgo-footer-social-counters .social-count .label {
        font-size: 10px;
    }
}
@media screen and (max-width: 767px) {
    #block-stgo-footer-social-counters .social-count .label {
        font-size: 11px;
    }
}
#block-stgo-footer-social-counters .social-count .label:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 19px;
    height: 19px;
    background-image: url('../img/pictos.png');
    background-position: 0 -5716px;
    background-repeat: no-repeat;
    content: "";
}
#block-stgo-footer-social-counters .youtube .label:before {
    width: 22px;
    height: 16px;
    background-position: 0 -5441px;
}
#block-stgo-footer-social-counters .twitter .label:before {
    width: 23px;
    height: 18px;
    background-position: 0 -4757px;
}
#block-stgo-footer-social-counters .linkedin .label:before {
    width: 19px;
    height: 19px;
    background-position: 0 -5599px;
}
#block-stgo-footer-social-counters .instagram .label:before {
  width: 19px;
  height: 19px;
  background-image: url(../img/instagram.png);
  background-position: 0 0;
}
#block-block-1 {
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    white-space: normal;
    letter-spacing: 0;
    width: 400px;
    margin-top: 30px;
    text-align: left;
}
@media screen and (max-width: 1023px) and (min-width: 767px) {
    #block-block-1 {
        width: 50%;
        padding-left: 35px;
    }
}
@media screen and (max-width: 767px) {
    #block-block-1 {
        display: block;
        width: auto;
        padding: 0 20px;
    }
}
#block-block-1 .block-title {
    margin: 0;
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}
#block-block-1 .content {
    margin-top: 10px;
    color: #888;
    font-size: 12px;
    line-height: 1.8em;
}
#block-block-1 .content p {
    margin: 0;
}
#block-menu-menu-footer {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    white-space: normal;
    letter-spacing: 0;
    width: 540px;
    margin-top: 30px;
    padding-left: 80px;
    text-align: left;
}
#block-menu-menu-footer .menu a{
  font-weight:500;

  &:hover{
    text-decoration:underline;
  }
}
@media screen and (max-width: 1023px) and (min-width: 767px) {
    #block-menu-menu-footer {
        width: 50%;
        padding-right: 35px;
    }
}
@media screen and (max-width: 767px) {
    #block-menu-menu-footer {
        display: block;
        width: auto;
        padding: 0 20px;
    }
}
#block-menu-menu-footer ul {
    list-style-type: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    letter-spacing: -0.3em;
}
#block-menu-menu-footer li {
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    white-space: normal;
    letter-spacing: 0;
    position: relative;
    width: 47%;
    margin-bottom: 30px;
    padding-left: 15px;
}
#block-menu-menu-footer li:before {
    width: 6px;
    height: 6px;
    background-image: url('../img/pictos.png');
    background-position: 0 -6080px;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -2px;
    content: "";
}
#block-menu-menu-footer a {
    color: #fff;
    font-size: 12px;
    -webkit-transition: color 250ms ease;
    transition: color 250ms ease;
}
#block-menu-menu-footer a:hover {
    color: #ff582b;
}
