@import 'globals.scss';

/*Resource Grid*/
.resourceGrid.white{
	background:#FFF;
}
.resourceGrid{
	padding:4rem 0;
	background:#ebeae8;

	header{
		p{
			margin:0.5rem 0 0;
		}
	}
	.bracketTop:before{
		margin:0 auto 1rem;
	}
	.scaler{
		margin:3rem auto 0;
		max-width:1360px;
	}
}
.newsTiles{
	.resourceBlock.image, .resourceBlock.video{
		.textWrap{
			padding-bottom:2rem;
		}
	}
}
.resourceBlock{
	position:relative;
	overflow:hidden;
	@include cornerBorder(40px,40px,10px,3rem);

	h4{
		font-size:1.5rem;
		line-height:1em;
		text-transform:uppercase;
		margin:0;
		color:$sageBlack;

		&:last-child{
			margin-bottom:0;
		}
		&:last-child:first-child{
			margin-bottom:0;
		}
	}
	&.video{
		.textWrap{
			padding-bottom: 2rem;
			h4{
				margin-bottom: 0;
			}
		}
	}
	&.image{
		.textWrap{
			padding-bottom: 2rem;
		}
	}
	p{
		margin:0.25rem 0 1rem;
		font-weight:500;
		color:$sageBlack;
	}
	a,span.cta{
		color:$sageBlack;
		transition:color 0.2s ease-out;
	}
	.textWrap{
		padding:3rem;
	}
	span.date{
		color:#999497;
		text-transform:uppercase;
		font-size:0.9rem;
		margin-bottom:0.75rem;
		display:block;
		font-weight:500;
	}
	.imgWrap{
		height:0;
		padding-bottom:65%;

		img{
			width:100%;
			height:auto;
			position:absolute;
			bottom:0;
		}

		& + .date{
			margin:0.75rem 0;
		}
	}
}
@media (max-width:$tablet){
	.resourceGrid{
		.resourceBlock.w3{
			width:45%;
		}
	}
	#sageWrap .ctaBtn:not(:empty){
		display:table;
		margin:0 auto;
	}
}
@media (max-width:$mobile){
	.resourceGrid{
		.resourceBlock.w3{
			width:90%;
		}
	}
}
.resourceBlock:hover{
	@include cornerBorderHover(40px,40px,10px,3rem);
	a,span.cta{
		color:$sageYellow;
	}
}
.resourceBlock.event{
	.dateWrap{
		.month{
			font-size:2rem;
			font-weight:600;
			line-height:1em;
			text-transform:uppercase;
			color:$sageBlack;
			margin:0;
		}
		.day{
			font-size:7.75rem;
			color:$sageYellow;
			font-weight:900;
			line-height:0.9em;
			margin:0;
		}
	}
	.cta{
		color:$sageBlack;
		font-weight:600;
		transition:color 0.3s ease-out;
	}
}
.resourceBlock.event:hover{
	.cta{
		color:$sageYellow;
	}
}
.portfolio .resourceBlock, .tileGrid .resourceBlock{
	&:before,&:after{
		opacity:0;
	}
}
.portfolio .resourceBlock:hover,, .tileGrid .resourceBlock:hover{
	&:before, &:after{
		opacity:1;
	}
}
html[data-useragent*="MSIE"], html[data-useragent*="rv:11.0"]{
	.resourceBlock,.hiddenBorder{
		&:before, &:after{
			transition:0!important;
		}
	}
	.resourceBlock:hover .imgWrap img{
		transform:scale(1);
	}
	.resourceBlock:hover{
		&:before,&:after{
			width:100%;
			transition:0!important;
		}
	}
	.portfolio{
		.resourceBlock{
			&:before,&:after{
				width:40px;
				height:43px;
			}
		}
		.hiddenBorder{
			&:before,&:after{
				display:none!important;
			}
		}
	}
}
.resourceWrap{
	margin:0.75rem 0 0;

	.scaler{
		max-width:1200px;
		font-size:0;
	}
	a{
		font-size:1rem;
	}
	.w3{
		width:33.1%;
		margin:0 0.1% 1rem;
	}
}


@media (max-width:$tablet){
	.resourceWrap{
		.resourceBlock.w3{
			width:47.5%;
			margin-left:1.25%;
			margin-right:1.25%;
		}
	}
}
@media (max-width:$mobile){
	.resourceWrap{
		.resourceBlock.w3{
			width:95%;
			margin-left:2.5%;
			margin-right:2.5%;
		}
	}
}
